.breadcrumb {
  padding-top: 1.6rem;
  padding-bottom: 4rem;
  @include max($mobile){
    padding-bottom: 3.2rem;
  }
  &-wrapper {
  }

  &-list {
    @include flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    gap: 0.8rem;
    &::-webkit-scrollbar {
      height: 0;
    }
  }

  &-item {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    color: var(--color-pri);
    &:not(:first-child) {
      &::before {
        display: inline-block;
        content: "/";
      }
    }

    &:last-child {
      pointer-events: none;
      color: #373A51;
    }

    @include hover {
      color: #0f172a;
    }
  }

  &-link {
    //  color: var(--color-white);
    transition: 0.2s ease-in-out;
  }
}
