.btn {
  @include mid-flex;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  padding: 1.2rem 3.2rem;
  @include transition(0.5s, ease);
  overflow: hidden;
  position: relative;
  background: var(--color-pri);
  gap: 0.8rem;
  color: #fff;
  @include fz-18;
  font-weight: 500;
  @include font-second;
  min-width: 20rem;
  border-radius: var(--rs08);
  @include max(600px) {
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .text {
  }
  .icon {
    width: 2rem;
    height: 2rem;
    @include mid-flex;
    flex-shrink: 0;
    font-weight: 500;
  }
  &.invert {
    background: #323b53;
    &::after {
      background: var(--color-sec);
    }
    .icon {
      color: #fff;
    }
  }
  &.center {
    margin: 0 auto;
  }
  &.trans {
    background: transparent;
    color: var(--color-pri);
    border: 0.1rem solid var(--color-pri);
    @include hover {
      color: var(--color-white);
    }
    &::after {
      background: var(--color-pri);
    }
  }
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: var(--color-sec);
    transition: all 0.3s ease;
    z-index: 1;
  }
  @include hover {
    color: var(--color-white);
    &::after {
      left: 0;
      width: 100%;
    }
    .icon {
      transform: unset;
      color: var(--color-white);
    }
  }
}
.btn-noti {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.6rem 1.2rem;
  transition: 0.3s ease-in-out;
  border-radius: var(--rs08);
  overflow: hidden;
  @include hover {
    background: var(--colore6);
    .icon {
      background: #fff;
    }
  }
  .icon {
    @include mid-flex;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100rem;
    background: var(--colore6);
    flex-shrink: 0;
    transition: 0.3s ease-in-out;
    img {
      border-radius: unset;
    }
  }
  .t-text {
    @include fz-16;
    font-weight: 700;
    color: var(--color-pri);
  }
}
