.c-pri {
  color: var(--color-pri);
}

.c-second {
  color: var(--color-sec);
}
.c-txt-2{
  color: var(--color-text-2);
}

.c-txt-3{
  color: #303030;
}
// .c-third {
//   color: $color-third;
// }

// .c-four {
//   color: $color-four;
// }

// .c-five {
//   color: $color-five;
// }

// .c-white {
//   color: white;
// }

// .c-black {
//   color: $color-black;
// }

// .c-txt {
//   color: $color-text;
// }

// .c-txt-s {
//   color: $color-text-second;
// }

// .bc-pri {
//   background-color: $color-pri;
// }

// .bc-second {
//   background-color: $color-second;
// }

// .bc-third {
//   background-color: $color-third;
// }

// .bc-four {
//   background-color: $color-four;
// }

// .bc-five {
//   background-color: $color-five;
// }

.over-hd {
  overflow: hidden;
}

.z-i-1 {
  z-index: 1;
}

.z-i-2 {
  z-index: 2;
}

.z-i-3 {
  z-index: 3;
}

.z-i-4 {
  z-index: 4;
}

.z-i-5 {
  z-index: 5;
}

.m-mid {
  margin: 0 auto;
}

.m-end {
  margin-left: auto;
}

.m-top {
  margin-top: 2.4rem;
}

.m-start {
  margin-right: auto;
}

.f-mid {
  @include mid-flex;
}

.f-end {
  @include flex;
  justify-content: flex-end;
}

.lg-download,
#lg-actual-size,
#lg-share {
  display: none;
}

.lg-backdrop,
.lg-outer {
  z-index: 99999;
}

.lg-outer .lg-thumb-item {
  border: 0.2rem solid var(--color-pri);
  transition: 0.2s ease;

  &.active {
    border-color: var(--color-sec);
  }

  @include hover {
    border-color: var(--color-sec);
  }
}

.lg-prev.lg-icon {
  &::after {
    display: none;
  }
}

.lg-next.lg-icon {
  &::before {
    display: none;
  }
}

.lg-prev.lg-icon,
.lg-next.lg-icon {
  width: 4rem;
  height: 4rem;

  i {
    background: var(--color-sec);
    @include txt-ln;
  }
}

.lg-outer .lg-thumb-outer {
  background-color: #000;
}

.lg-close.lg-icon {
  background: var(--color-sec);
  @include txt-ln;
}

.lg-outer .lg-toogle-thumb {
  background: var(--color-sec);
  @include txt-ln;
  width: 4rem;
  height: 4rem;
}

.lg-img-wrap {
  border-radius: 0.8rem;
}

.lg-thumb-item {
  border-radius: 0.8rem;
}

.lg-outer .lg-thumb {
  margin: 0 auto -5px;
}

.tabPanel {}

.tabPanel-second {}

.tabBtn {
  cursor: pointer;
}

.orders-table,
table {
  .status {
    font-weight: 700;

    &.waiting {
      color: #f2c524;
    }

    &.success {
      color: var(--color-pri);
    }

    &.cancle {
      color: #d31d1d;
    }
  }
}

.slider {
  position: relative;
}

.relative {
  position: relative;
}

.head {
  //  margin-bottom: 3.2rem;

  &.space {
    @include flex-wr;
    gap: 1rem;
    justify-content: space-between;
  }

  &.center {
    align-items: center;
  }

  &.end {
    align-items: flex-end;
  }

  &.start {
    align-items: flex-start;
  }

  &.mb-center {
    @include max(700px) {
      text-align: center;

      .left {
        width: 100%;
      }

      .right {
        width: 100%;
      }

      .cdw {
        justify-content: center;
      }

      .btn {
        margin: 0 auto;
      }
    }
  }
}

.hv-bd {
  position: relative;

  &::before {
    @include pseudo;
    @include full-size(0.8rem);
    border: 0.1rem solid white;
    z-index: 1;
    transition: 0.3s all ease-in-out;
    transform: scale(1.1);
    opacity: 0;
    border-radius: 1rem;
  }

  img {
    transition: 0.3s all ease-in-out;
  }

  @include hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }

    img {
      @include hover-scale;
    }
  }
}

.gItem {
  cursor: pointer;
}

.parallaxJS {
  img {
    position: relative;
  }
}

.hidden-desk {
  @include min($res-mobile-min) {
    display: none !important;
  }
}

.hidden-mobile {
  @include max($res-mobile) {
    display: none !important;
  }
}

.full {
  width: 100%;
}

.wp-block-image {
  border-radius: 1.2rem;

  img {
    display: block;
    margin: 0 auto;
  }
}

// 
.form {
  // --height: 6.2rem;
  --bdr: 0.4rem;
  --text: var(--color-text);

  &-list {
    --cg: 2.4rem;
    --rg: 2.4rem;

    @include max(1200px) {
      --cg: 1.2rem;
      --rg: 1.2rem;
    }
  }

  &-ip {
    .text {
      display: block;
      color: var(--color-text);
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
      margin-top: 0;
      color: #1F2237;
      font-weight: 500;
      // @include font-second;

      .red {
        color: red;
        font-weight: 400;
      }
    }

    .input {
      position: relative;
      &:has(.signPW) {
        input {
          padding-right: 4rem;
        }
      }
      .signPW {
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        img {
          height: 100%;
          width: 100%;
          &:nth-child(2) {
            display: none;
          }
        }
        &.clicked {
          img {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              display: block;
            }
          }
        }
      }
      &-note {
        display: flex;
        font-size: 1.4rem;
        align-items: center;
        gap: 1rem;
        margin-top: 0.5rem;
        img {
          width: 1.2rem;
          height: 1.2rem;
          flex-shrink: 0;
        }
      }
    }

    .input-flex {
      display: flex;
      gap: 1.2rem
    }

    input,
    textarea {
      border: 0.1rem solid var(--border);
      border-radius: .6rem;
      outline: none;
      padding: 1.3rem 2rem;
      width: 100%;
      transition: 0.4s;
      font-size: 1.6rem;
      height: 4.8rem;
      font-weight: 500;
      background-color: white;

      // @include font-second;
      @include input-placeholder {
        color: #475569;
        opacity: 0.5;
      }

      &:focus {
        border-color: var(--color-pri);
      }

    }

    textarea {
      min-height: 10rem;
      border-radius: .6rem;
    }

    // config
    &.per25 {
      width: 25%;
    }
    &.per3 {
      width: calc(100% / 3);
    }

    &.per5 {
      width: 50%;

      @include max(500px) {
        width: 100%;
      }
    }
    &.per6 {
      width: calc(100% - (100% / 3));
    }
    &.per75 {
      width: 75%;
    }

    .input-dashed {
      position: relative;

      input {
        border-style: dashed;
        border-color: #333026;
        padding-right: 9rem;

        &:focus {
          border-color: var(--color-second);
        }
      }

      .apply-voucher {
        position: absolute;
        padding: .4rem 1rem;
        right: 0.5rem;
        top: 0.5rem;
        height: calc(100% - 1rem);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .4rem;
        transition: 0.4s;
        cursor: pointer;

        @include hover {
          background-color: var(--color-pri);
        }
      }
    }

    // select
    .select2-container--default .select2-selection--single {
      border-radius: .6rem;
      background-color: white;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
      color: #384252;
      font-size: 1.6rem;
      font-weight: 500;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
      border-radius: .6rem !important;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
      font-weight: 500;
      font-size: 1.6rem;
      color: #384252;
    }

    .dateTime {
      width: 100%;
    }
  }
}