
<sextends>layout/layout-admin</sextends><a class="admin-back" href=""> <span class="txt">Quay lại</span></a>
<div class="admin-heading">
  <h1 class="admin-title" style="justify-content: center;">Chỉnh sửa quảng cáo</h1>
</div>
<div class="admin-pro layout-half">
  <div class="admin-pro-inner">
    <div class="admin-pro-row row">
      <div class="col col-6 active">
        <div class="admin-pro-it"> <span class="icon"> </span><span class="txt">
             Chỉnh sửa thiết lập quảng cáo</span></div>
      </div>
      <div class="col-line-mb"></div>
      <div class="col col-6">
        <div class="admin-pro-it"> <span class="icon"> </span><span class="txt">
             Online</span></div>
      </div>
      <div class="col-line-mb"></div>
    </div>
  </div>
</div>
<div class="admin-form"> 
  <div class="admin-wrapper">
    <div class="admin-block">
      <div class="f-list row">
        <div class="f-item col col-6"></div>
        <div class="f-item col col-6"></div>
        <div class="f-item col"> </div>
        <div class="f-item col">
          <div class="b-ip-select b-admin read-only">
            <div class="selectCus">
              <div class="selectCusValue">
                <input type="text" hidden="hidden"/><span class="icon-arrow"> <i class="fa-light fa-chevron-down"></i></span>
                <div class="txt">States</div>
              </div>
              <div class="selectCusOptions">
                <div class="text-head"> 
                  <div class="b-ip-search"><span class="icon"></span><span class="icon-remove"> <i class="fa-light fa-xmark fw-7"></i></span>
                    <input type="search" placeholder="Marietta"/>
                  </div>
                </div>
                <label class="selectCusAll"> 
                  <input type="checkbox"/><span class="txt">Chọn tất cả</span>
                </label>
                <label class="selectCusOption"> 
                  <input type="checkbox"/><span class="txt">Alabama</span>
                </label>
                <label class="selectCusOption"> 
                  <input type="checkbox"/><span class="txt">Alaska</span>
                </label>
                <label class="selectCusOption"> 
                  <input type="checkbox"/><span class="txt">Arizona</span>
                </label>
                <label class="selectCusOption"> 
                  <input type="checkbox"/><span class="txt">Arkansas</span>
                </label>
                <label class="selectCusOption"> 
                  <input type="checkbox"/><span class="txt">California</span>
                </label>
                <label class="selectCusOption"> 
                  <input type="checkbox"/><span class="txt">Colorado</span>
                </label>
                <div class="selectCusApply">Xác nhận</div>
              </div>
            </div>
          </div>
        </div>
        <div class="f-item col"></div>
      </div>
    </div>
    <div class="form-upload collapse-block"> 
      <div class="b-inner"> <span class="t-head">
           Banner quảng cáo cho vị trí đã chọn</span>
        <div class="b-head"> 
          <div class="b-box">
            <div class="ck-bcheck checked"> 
              <label class="ck-binner">
                <input type="radio" checked="checked" hidden="hidden" name="status"/><span class="ck-dot"></span>
                <div class="upload-panel">
                  <div class="inner-panel">
                    <div class="b-content"> 
                      <div class="b-mid">
                        <p class="t-text"> <i class="fa-light fa-arrow-right fw-7 icon"></i>Banner quảng cáo</p>
                        <ul class="t-list">
                          <li>
                             Option 1: Quý anh/chị có thể tự thiết kế banner.</li>
                          <li>
                             Option 2: Liên hệ đối tác của Vietinfo để được hỗ trợ thiết kế ($50/design: bao gồm 1 banner cho màn desktop và 1 cho mobile). Xin vui lòng gửi email tới: support@qixtech.com với tiêu đề: “VietInfo: thiết kế bannner” để được hỗ trợ.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="upload-panel"> 
          <div class="b-wrapper">
            <div class="inner-panel uploadFormJs collapse-item">
              <div class="thead collapse-head">Upload desktop version <span class="icon"> <i class="fa-light fa-chevron-down"></i></span></div>
              <div class="b-body collapse-body">
                <div class="b-boxed">
                  <div class="t-txt">
                     Upload 1 banner cho màn hình desktop <span class="c-red">
                       [ 100 x 100 px ]</span></div>
                  <div class="b-bdrop"> 
                    <div class="progress-container">
                      <svg class="progress-circle" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                        <path class="circle-bg" fill="none" stroke="#FAFAFA" stroke-width="3" d="M18 2 a16 16 0 1 1 0 32 a16 16 0 1 1 0 -32"></path>
                        <path class="circle" fill="none" stroke="#1849D6" stroke-width="3" stroke-dasharray="100, 100" d="M18 2 a16 16 0 1 1 0 32 a16 16 0 1 1 0 -32"></path>
                        <text class="progress-text" x="18" y="19" text-anchor="middle" alignment-baseline="middle">0%</text>
                      </svg><span class="txt">Uploading...</span><span class="btn-cancel btn-action btnCalcelJs">Cancel</span>
                    </div>
                    <div class="inner dropzoneJs">
                      <input class="ipUpFile" type="file"/>
                      <div class="b-gr"> <span class="icon"> </span>
                        <div class="t-text">
                           Kéo thả hình ảnh or <span class="c-pri fw-7">
                             Chọn và tải lên</span></div>
                        <div class="t-txt">Hoặc chọn ảnh cũ đã sử dụng lưu trong hệ thống để dùng lại</div>
                      </div>
                    </div>
                  </div>
                  <div class="t-note">Only support .jpg or .png files</div>
                </div>
                <div class="t-line"><span class="t-txt">OR</span></div>
                <div class="b-url"> 
                  <div class="thead">Upload from URL</div>
                  <div class="b-in"> 
                    <input class="inputFileUrl" type="text" placeholder="Add file URL"/>
                    <button class="btn-upfile btnUpfileJS btn-action"> <span>
                         Upload</span></button>
                  </div>
                </div>
                <ul class="b-list hide imageListJs"></ul>
              </div>
            </div>
            <div class="inner-panel uploadFormJs collapse-item">
              <div class="thead collapse-head">Upload mobile version <a class="tlink" href="">Tìm hiểu thêm </a><span class="icon"> <i class="fa-light fa-chevron-down"></i></span></div>
              <div class="b-body collapse-body">Chưa có nội dung </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="upload-panel custom"> 
      <div class="b-wrapper">
        <div class="inner-panel uploadFormJs">
          <div class="thead fw-7">Ảnh chụp biên lai (receipt) đã thanh toán </div>
          <div class="b-boxed">
            <div class="b-bdrop"> 
              <div class="progress-container">
                <svg class="progress-circle" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                  <path class="circle-bg" fill="none" stroke="#FAFAFA" stroke-width="3" d="M18 2 a16 16 0 1 1 0 32 a16 16 0 1 1 0 -32"></path>
                  <path class="circle" fill="none" stroke="#1849D6" stroke-width="3" stroke-dasharray="100, 100" d="M18 2 a16 16 0 1 1 0 32 a16 16 0 1 1 0 -32"></path>
                  <text class="progress-text" x="18" y="19" text-anchor="middle" alignment-baseline="middle">0%</text>
                </svg><span class="txt">Uploading...</span><span class="btn-cancel btn-action btnCalcelJs">Cancel</span>
              </div>
              <div class="inner dropzoneJs">
                <input class="ipUpFile" type="file"/>
                <div class="b-gr"> <span class="icon"> </span>
                  <div class="t-text"> <span class="c-pri">
                       Chọn và tải lên <span class="c-text">hoặc kéo thả để tải lên biên lai bạn đã thanh toán cho ad này</span></span></div>
                </div>
              </div>
            </div>
            <ul class="b-list hide imageListJs"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>