<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chỉnh sửa quảng cáo</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body class="page-home">
    <div class="hds">
      <div class="hds-burger"> <span> </span><span> </span><span></span></div><a class="hds-logo" href=""> <img src="./assets/images/logo-white.svg" alt=""/></a>
    </div>
    <div class="sbar-overlay"></div>
    <div class="sbar"> 
      <div class="sbar-head"> 
        <div class="sbar-head-flex"><a class="sbar-logo" href=""><img src="./assets/images/logo-white.svg" alt=""/></a>
          <div class="sbar-close"><i class="far fa-times"></i></div>
        </div>
        <div class="sbar-user"> 
          <div class="sbar-user-ava"> <img src="./assets/images/sbar-user-ava.jpg" alt=""/>
          </div>
          <div class="sbar-user-content t-center"> 
            <p class="sbar-user-name fw-7">Tu Nguyen</p>
            <p class="sbar-user-des">tu.nguyen@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="sbar-body"> 
        <div class="sbar-menu"> 
          <ul> 
            <li> <a href=""><img src="./assets/images/sbar-menu-1.svg" alt=""/><span class="txt">Dashboard </span></a></li>
            <li> <a href=""><img src="./assets/images/sbar-menu-2.svg" alt=""/><span class="txt">Profile</span></a></li>
            <li> <a href=""><img src="./assets/images/sbar-menu-3.svg" alt=""/><span class="txt">Quản lý tin rao vặt</span></a></li>
            <li> <a href=""><img src="./assets/images/sbar-menu-4.svg" alt=""/><span class="txt">Quản lý quảng cáo</span></a></li>
            <li> <a href=""><img src="./assets/images/sbar-menu-5.svg" alt=""/><span class="txt">Billing & Payment</span></a></li>
          </ul>
        </div>
      </div>
      <div class="sbar-foot"><a class="sbar-btn" href=""> <img src="./assets/images/ic-home.svg" alt=""/><span class="txt">Back To Homepage</span></a></div>
    </div>
    <main class="main-admin">
      <div class="main-admin-wrapper"><a class="admin-back" href=""> <img src="./assets/images/ic-back.svg" alt=""/><span class="txt">Quay lại</span></a>
        <div class="admin-heading t-center">
          <h1 class="admin-title">Chỉnh sửa quảng cáo</h1>
        </div>
        <div class="admin-pro layout-half">
          <div class="admin-pro-inner">
            <div class="admin-pro-row row">
              <div class="col col-6 active">
                <div class="admin-pro-it"> <span class="icon"> <img src="./assets/images/admin-pro-icon (4).svg" alt=""/></span><span class="txt">
                     Chỉnh sửa thiết lập quảng cáo</span></div>
              </div>
              <div class="col-line-mb"></div>
              <div class="col col-6">
                <div class="admin-pro-it"> <span class="icon"> <img src="./assets/images/admin-pro-icon (3).svg" alt=""/></span><span class="txt">
                     Online</span></div>
              </div>
              <div class="col-line-mb"></div>
            </div>
          </div>
        </div>
        <div class="admin-form"> 
          <div class="admin-wrapper">
            <div class="admin-block">
              <div class="f-list row">
                <div class="f-item col col-6">
                  <label class="f-label">Khu vực đặt quảng cáo <a href='' class='c-pri fw-5'>Tìm hiểu thêm</a></label>
                  <div class="admin-select second --bg">
                    <select>
                      <option value="demo">Trang chủ - homepage</option>
                      <option value="demo">Sang nhượng kinh doanh</option>
                      <option value="demo">Event - Sự kiện</option>
                      <option value="demo">Việc làm</option>
                      <option value="demo">Bán bất động sản</option>
                      <option value="demo">Rao vặt khác</option>
                    </select>
                  </div>
                </div>
                <div class="f-item col col-6">
                  <label class="f-label">Vị trí đặt quảng cáo</label>
                  <div class="admin-select second --bg">
                    <select>
                      <option value="demo">Vị trí H1 (120 x 240 px)</option>
                      <option value="demo">Vị trí H2 (100 x 100 px)</option>
                      <option value="demo">Vị trí H3 (90 x 90 px)</option>
                      <option value="demo">Vị trí H4 (80 x 80 px)</option>
                      <option value="demo">Vị trí H5 (70 x 70 px)</option>
                      <option value="demo">Vị trí H6 (60 x 60 px)</option>
                    </select>
                  </div>
                </div>
                <div class="f-item col"> 
                  <label class="f-label">Quy mô quảng cáo <span class='fw-4'>(nơi quảng cáo sẽ xuất hiện, ví dụ anh chị chọn “Toàn nước Mỹ,” ads sẽ xuất hiện trên toàn nước Mỹ)</span></label>
                  <div class="admin-select second --bg">
                    <select>
                      <option value="demo">Theo tiểu bang ($1,200/state/month)</option>
                      <option value="demo">Theo tiểu bang ($1,100/state/month)</option>
                      <option value="demo">Theo tiểu bang ($1,000/state/month)</option>
                      <option value="demo">Theo tiểu bang ($900/state/month)</option>
                      <option value="demo">Theo tiểu bang ($800/state/month)</option>
                      <option value="demo">Theo tiểu bang ($700/state/month)</option>
                    </select>
                  </div>
                </div>
                <div class="f-item col">
                  <label class="f-label">State(s)</label>
                  <div class="b-ip-select b-admin read-only">
                    <div class="selectCus">
                      <div class="selectCusValue">
                        <input type="text" hidden><span class="icon-arrow"> <i class="fa-light fa-chevron-down"></i></span>
                        <div class="txt">States</div>
                      </div>
                      <div class="selectCusOptions">
                        <div class="text-head"> 
                          <div class="b-ip-search"><span class="icon"><img src="./assets/images/icon-search.svg" alt=""/></span><span class="icon-remove"> <i class="fa-light fa-xmark fw-7"></i></span>
                            <input type="search" placeholder="Marietta">
                          </div>
                        </div>
                        <label class="selectCusAll"> 
                          <input type="checkbox"><span class="txt">Chọn tất cả</span>
                        </label>
                        <label class="selectCusOption"> 
                          <input type="checkbox"><span class="txt">Alabama</span>
                        </label>
                        <label class="selectCusOption"> 
                          <input type="checkbox"><span class="txt">Alaska</span>
                        </label>
                        <label class="selectCusOption"> 
                          <input type="checkbox"><span class="txt">Arizona</span>
                        </label>
                        <label class="selectCusOption"> 
                          <input type="checkbox"><span class="txt">Arkansas</span>
                        </label>
                        <label class="selectCusOption"> 
                          <input type="checkbox"><span class="txt">California</span>
                        </label>
                        <label class="selectCusOption"> 
                          <input type="checkbox"><span class="txt">Colorado</span>
                        </label>
                        <div class="selectCusApply">Xác nhận</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="f-item col">
                  <label class="f-label">Thời gian quảng cáo <span class='fw-4'>(5% discount tự động apply cho quảng cáo trên 6 months)</span></label>
                </div>
              </div>
            </div>
            <div class="form-upload collapse-block"> 
              <div class="b-inner"> <span class="t-head">
                   Banner quảng cáo cho vị trí đã chọn</span>
                <div class="b-head"> 
                  <div class="b-box">
                    <div class="ck-bcheck checked"> 
                      <label class="ck-binner">
                        <input type="radio" checked hidden name="status"><span class="ck-dot"></span>
                        <div class="upload-panel">
                          <div class="inner-panel">
                            <div class="b-content"> 
                              <div class="b-mid">
                                <p class="t-text"> <i class="fa-light fa-arrow-right fw-7 icon"></i>Banner quảng cáo</p>
                                <ul class="t-list">
                                  <li>
                                     Option 1: Quý anh/chị có thể tự thiết kế banner.</li>
                                  <li>
                                     Option 2: Liên hệ đối tác của Vietinfo để được hỗ trợ thiết kế ($50/design: bao gồm 1 banner cho màn desktop và 1 cho mobile). Xin vui lòng gửi email tới: support@qixtech.com với tiêu đề: “VietInfo: thiết kế bannner” để được hỗ trợ.</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="upload-panel"> 
                  <div class="b-wrapper">
                    <div class="inner-panel uploadFormJs collapse-item">
                      <div class="thead collapse-head">Upload desktop version <span class="icon"> <i class="fa-light fa-chevron-down"></i></span></div>
                      <div class="b-body collapse-body">
                        <div class="b-boxed">
                          <div class="t-txt">
                             Upload 1 banner cho màn hình desktop <span class="c-red">
                               [ 100 x 100 px ]</span></div>
                          <div class="b-bdrop"> 
                            <div class="progress-container">
                              <svg class="progress-circle" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                <path class="circle-bg" fill="none" stroke="#FAFAFA" stroke-width="3" d="M18 2 a16 16 0 1 1 0 32 a16 16 0 1 1 0 -32"></path>
                                <path class="circle" fill="none" stroke="#1849D6" stroke-width="3" stroke-dasharray="100, 100" d="M18 2 a16 16 0 1 1 0 32 a16 16 0 1 1 0 -32"></path>
                                <text class="progress-text" x="18" y="19" text-anchor="middle" alignment-baseline="middle">0%</text>
                              </svg><span class="txt">Uploading...</span><span class="btn-cancel btn-action btnCalcelJs">Cancel</span>
                            </div>
                            <div class="inner dropzoneJs">
                              <input class="ipUpFile" type="file">
                              <div class="b-gr"> <span class="icon"> <img src="./assets/images/icon-upload.svg" alt=""/></span>
                                <div class="t-text">
                                   Kéo thả hình ảnh or <span class="c-pri fw-7">
                                     Chọn và tải lên</span></div>
                                <div class="t-txt">Hoặc chọn ảnh cũ đã sử dụng lưu trong hệ thống để dùng lại</div>
                              </div>
                            </div>
                          </div>
                          <div class="t-note">Only support .jpg or .png files</div>
                        </div>
                        <div class="t-line"><span class="t-txt">OR</span></div>
                        <div class="b-url"> 
                          <div class="thead">Upload from URL</div>
                          <div class="b-in"> 
                            <input class="inputFileUrl" type="text" placeholder="Add file URL">
                            <button class="btn-upfile btnUpfileJS btn-action"> <span>
                                 Upload</span></button>
                          </div>
                        </div>
                        <ul class="b-list hide imageListJs"></ul>
                      </div>
                    </div>
                    <div class="inner-panel uploadFormJs collapse-item">
                      <div class="thead collapse-head">Upload mobile version <a class="tlink" href="">Tìm hiểu thêm </a><span class="icon"> <i class="fa-light fa-chevron-down"></i></span></div>
                      <div class="b-body collapse-body">Chưa có nội dung </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="upload-panel custom"> 
              <div class="b-wrapper">
                <div class="inner-panel uploadFormJs">
                  <div class="thead fw-7">Ảnh chụp biên lai (receipt) đã thanh toán </div>
                  <div class="b-boxed">
                    <div class="b-bdrop"> 
                      <div class="progress-container">
                        <svg class="progress-circle" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                          <path class="circle-bg" fill="none" stroke="#FAFAFA" stroke-width="3" d="M18 2 a16 16 0 1 1 0 32 a16 16 0 1 1 0 -32"></path>
                          <path class="circle" fill="none" stroke="#1849D6" stroke-width="3" stroke-dasharray="100, 100" d="M18 2 a16 16 0 1 1 0 32 a16 16 0 1 1 0 -32"></path>
                          <text class="progress-text" x="18" y="19" text-anchor="middle" alignment-baseline="middle">0%</text>
                        </svg><span class="txt">Uploading...</span><span class="btn-cancel btn-action btnCalcelJs">Cancel</span>
                      </div>
                      <div class="inner dropzoneJs">
                        <input class="ipUpFile" type="file">
                        <div class="b-gr"> <span class="icon"> <img src="./assets/images/icon-upload2.svg" alt=""/></span>
                          <div class="t-text"> <span class="c-pri">
                               Chọn và tải lên <span class="c-text">hoặc kéo thả để tải lên biên lai bạn đã thanh toán cho ad này</span></span></div>
                        </div>
                      </div>
                    </div>
                    <ul class="b-list hide imageListJs"></ul>
                  </div>
                </div>
              </div>
            </div><a class="btn admin-btn" href=""><span class="inner">Tiếp theo</span><i class="fa-light fa-arrow-right icon"></i></a>
          </div>
        </div>
      </div>
      <div class="ft"> 
        <div class="container"> 
          <div class="ft-wrap"> 
            <div class="ft-head"> 
              <div class="ft-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.svg" alt=""/></a></div>
              <div class="t-slogan"><span class="t-text">
                   Cổng thông tin <span class="fw-7 c-pri">
                     MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
            </div>
            <div class="ft-nav">
              <ul class="menu"> 
                <li><a href="">VIỆC LÀM</a></li>
                <li><a href="">MUA CỬA TIỆM</a></li>
                <li><a href="">VIỆT EVENTS</a></li>
                <li><a href="">THUÊ NHÀ</a></li>
                <li><a href="">MUA NHÀ</a></li>
                <li><a href="">RAO VẶT</a></li>
                <li><a href="">LIÊN HỆ QUẢNG CÁO</a></li>
              </ul>
            </div>
            <div class="ft-sc"> 
              <div class="social"> 
                <div class="social-list"> <a class="social-link" href=""> <img src="./assets/images/ic-fb.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-yt.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-ins.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-x.svg" alt=""/></a></div>
              </div>
            </div>
            <div class="ft-panel"> 
              <div class="ft-list row"> 
                <div class="col col-4">
                  <div class="ft-box"> 
                    <div class="b-inner"> <span class="t-text"> LIÊN HỆ HỢP TÁC</span>
                      <div class="b-gr"> <a class="t-link" href="">Email:contact@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                    </div>
                  </div>
                </div>
                <div class="col col-4">
                  <div class="ft-box"> 
                    <div class="b-inner"> <span class="t-text"> LIÊN HỆ QUẢNG CÁO</span>
                      <div class="b-gr"> <a class="t-link" href="">Email:ads@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                    </div>
                  </div>
                </div>
                <div class="col col-4">
                  <div class="ft-box"> 
                    <div class="b-inner"> <span class="t-text"> HỖ TRỢ KỸ THUẬT</span>
                      <div class="b-gr"> <a class="t-link" href="">Email:admin@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ft-bank"> 
              <div class="i-list"><a class="i-link" href=""><img src="./assets/images/icon-bank (1).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (2).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (3).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (4).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (5).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (6).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (7).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (8).svg" alt=""/></a>
              </div>
            </div>
            <div class="ft-bot">
              <div class="ft-nav"> 
                <ul class="menu">
                  <li> <a href="">Privacy Policy</a></li>
                  <li> <a href="">Terms of Service </a></li>
                  <li> <a href="">Ads Service Agreement</a></li>
                </ul>
              </div><span class="t-text">
                  Designed by Qixtech - Web Design & Digital Marketing</span><span class="t-text">
                 Copyright © 2024. VietInfo LLC. All Right Reserved. </span>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="fixed-side">
      <div class="fchat"> <a class="i-link" href=""><img src="./assets/images/icon-mess2.svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-mess.svg" alt=""/></a></div>
      <div class="back-to-top backToTop">
        <div class="icon fa-solid fa-arrow-up"></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/splide/splide-auto-scroll.js"></script>
    <script src="./assets/library/splide/splide.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./assets/library/datetime/moment.min.js"></script>
    <script src="./assets/library/datetime/daterangepicker.min.js"></script>
    <script src="./assets/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./assets/library/splitting/splitting.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./assets/library/trimline/jquery.trimLines.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v17.0"></script>
    <script src="./assets/library/froala_editor/js/froala_editor.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/emoticons.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/align.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/font_family.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/font_size.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/image.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/link.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/lists.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/file.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/table.min.js"></script>
    <script src="./assets/library/dropzone/dropzone.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>