<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Advertising Service Agreement</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body class="page-terms-conditions">
    <header class="hd"> 
      <div class="container"> 
        <div class="hd-wrap"> 
          <div class="hd-top">
            <div class="home-bn-srch">
              <form action="">
                <div class="home-bn-srch-box">
                  <div class="sl"> 
                    <select class="re-select-main" name="" data-placeholder="Danh mục"> 
                      <option value=""> Danh mục</option>
                      <option value="1"> Danh mục 1</option>
                      <option value="2"> Danh mục 2</option>
                      <option value="3"> Danh mục 3</option>
                    </select>
                  </div>
                  <div class="ip"> 
                    <div class="ip-wrap"><img src="./assets/images/ic-pin.svg" alt=""/>
                      <input type="text" placeholder="State, city, ZIP code">
                    </div>
                    <button class="ip-icon"><img src="./assets/images/ic-srch.svg" alt=""/>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="b-gr"> 
              <div class="hd-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.svg" alt=""/></a></div>
              <div class="hd-noti t-slogan"><span class="t-text">
                   Cổng thông tin <span class="fw-7 c-pri">
                     MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
              <div class="hd-ctr"> 
                <div class="hd-lang"> <span class="i-ar"><i class="fa-light fa-chevron-down"></i></span><span class="t-text">
                     VN </span>
                  <div class="lang-pos"> <a class="t-text" href="">EN </a></div>
                </div><a class="btn" href=""><span class="inner">Đăng tin miễn phí</span><i></i></a>
                <div class="hd-burger" id="hamburger"> 
                  <div class="burger"> 
                    <div class="hamburger"> 
                      <div class="line"> </div>
                      <div class="line"></div>
                      <div class="line"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hd-bot">
            <div class="b-gr"> 
              <div class="hd-nav">
                <div class="menu-nav"> 
                  <ul class="menu-list">
                    <li class="menu-item"> <a class="menu-link" href="">Việc làm</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Mua cửa tiệm</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Việt Event</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Thuê nhà</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Mua nhà</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Rao vặt</a></li>
                  </ul>
                </div>
              </div><a class="btn-noti" href=""> <span class="icon"> <img src="./assets/images/icon-noti.svg" alt=""/></span><span class="t-text">
                   Quảng cáo trên VietInfo</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-overlay"></div>
      <div class="mobile">
        <div class="mobile-con">
          <div class="mobile-wr">
            <div class="mobile-nav">
              <div class="menu-nav">
                <ul class="menu-list">
                  <li class="menu-item"><a class="menu-link" href="">Việc làm</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Mua cửa tiệm</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Việt Event</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Thuê nhà</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Mua nhà</a></li>
                </ul>
              </div>
            </div>
            <div class="mobile-content"><a class="btn-noti" href=""> <span class="icon"> <img src="./assets/images/icon-noti.svg" alt=""/></span><span class="t-text">
                   Quảng cáo trên VietInfo</span></a><a class="btn full" href=""><span class="inner">Đăng tin miễn phí</span><i></i></a>
              <div class="hd-noti"> <span class="t-text">
                   Cổng thông tin <span class="fw-7 c-pri">
                     MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="breadcrumb"> 
        <ul class="breadcrumb-list">
          <li class="breadcrumb-item" data-aos="fade-right"><a class="breadcrumb-link" href="">Trang chủ</a></li>
          <li class="breadcrumb-item" data-aos="fade-right"><a class="breadcrumb-link" href="">Advertising Service Agreement</a></li>
        </ul>
      </div>
      <section class="terms-conditions">
        <div class="terms-banner">
          <div class="bg-banner"></div>
          <div class="terms-banner-content"><span class="wave"><img src="./assets/images/wave-bn-term.png" alt=""/></span>
            <div class="container">
              <div class="text-banner-wrapper">
                <div class="text-banner">
                  <h1 class="title">
                     Website <br>Terms of Use</h1>
                  <p class="desc">
                     We value your <br>privacy</p>
                </div>
                <div class="banner-decor"><img src="./assets/images/banner-girl.png" alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container seciton-content">
          <div class="head dcor">
            <h2 class="t-title"> Legal information</h2>
            <p class="t-des"> Last updated: October 18, 2024</p>
          </div>
          <div class="terms-tab">
            <div class="pro-fil selectJS">
              <div class="pro-fil-head selectJSHead"><span class="txt selectJSTxt"></span><i class="fas fa-angle-down"></i></div>
              <ul class="selectJSBody">
                <li> <a class="pro-fil-link selectJSItem" href=""><img src="./assets/images/check-verified.svg" alt=""/>Terms & Conditions</a></li>
                <li> <a class="pro-fil-link selectJSItem" href=""><img src="./assets/images/ic-security.svg" alt=""/>Privacy Policy</a></li>
                <li> <a class="pro-fil-link selectJSItem" href=""><span class="cookie"><img src="./assets/images/ic-cookie.svg" alt=""/></span>Cookies Policy</a></li>
                <li> <a class="pro-fil-link selectJSItem active" href=""> <img src="./assets/images/ic-wallet.svg" alt=""/>Adverting Service Agreement  </a></li>
              </ul>
            </div>
          </div>
          <div class="terms-content mona-content">
            <p>This Online Advertising Agreement is between a website owner and a client who desires to place advertisements on the owner’s website. This agreement sets forth the specific terms of the arrangement including the type of ad display, services rendered by owner, payment for advertising and any ad content which is prohibited. This Online Advertising Agreement also sets forth that the ads will be delivered to the website owner in digital format.</p>
            <div class="terms-box-list">
              <div class="terms-box">
                <div class="terms-box-title">→ Interpretation</div>
                <div class="terms-box-des">
                  <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Definitions</div>
                <div class="terms-box-des">
                  <p>For the purposes of these Terms and Conditions:</p>
                  <ul>
                    <li>Account means a unique account created for You to access our Service or parts of our Service.</li>
                    <li>Affiliate means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.</li>
                    <li>Company (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to Vietinfo LLC.</li>
                    <li>Cookies are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that website among its many uses.</li>
                    <li>Country refers to: United States.</li>
                    <li>Device means any device that can access the Service such as a computer, a cellphone or a digital tablet.</li>
                    <li>Personal Data is any information that relates to an identified or identifiable individual.</li>
                    <li>Service refers to the Website and/or advertisement on the VietInfo.US Website.</li>
                    <li>Service Provider means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</li>
                    <li>Third-party Social Media Service refers to any website or any social network website through which a User can log in or create an account to use the Service.</li>
                    <li>Usage Data refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</li>
                    <li>Website refers to VietInfo, accessible from https://vietinfo.us</li>
                    <li>You means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Advertisement Display and Services</div>
                <div class="terms-box-des"> 
                  <p>The Company agrees to publish the Advertisement on the Website for the period You paid for. If You desires to remove the Advertisement from the Website prior to the end of this period, You must request the Company in writing. No refund will be made for such early withdrawal of Advertisement.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Payment</div>
                <div class="terms-box-des">
                  <p>You shall pay the Company for publication of the Advertisement on the Website. All fees and payments are due and payable upon the delivery of the Advertisement. All late payments are subject to interest accrued at the rate of 1.5% per month, or up to the maximum amount allowed by law, whichever is greater. In the event if the Client defaults in making the full payment within ________________ days, the Website Owner reserves the right to suspend the Advertisement posted on the website.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Content</div>
                <div class="terms-box-des">
                  <p>Client shall deliver the Advertisements to Owner digitally via ____________ at least five (5) business days before the scheduled start date. Client shall be solely responsible for providing the Advertisement in the format required for display. Client acknowledges that Owner will not be responsible or liable for the quality of any portion of the Advertisement that does not meet the established mechanical criteria. If at any time Client desires to modify its content, it shall provide a written request to Owner specifying in detail the modification desired. Owner shall, within a reasonable time, effectuate the modifications to the content.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Liability</div>
                <div class="terms-box-des">
                  <p>Client shall be fully responsible and liable for the content contained in the Advertisement. The Owner is not responsible for, and in no way warrants, guarantees, or ratifies, the representations made or implied in the contents.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Prohibited Content</div>
                <div class="terms-box-des">
                  <p>Advertisements shall not contain:</p>
                  <ul> 
                    <li>Any content promoting the use of alcohol, tobacco or illegal substances; nudity, sex, pornography, or adult-oriented content;</li>
                    <li>Any content which is explicative or inappropriate language;</li>
                    <li>Content promoting illegal activity, racism, hate, "spam", mail fraud, pyramid schemes, or investment opportunities or advice which is not permitted under law;</li>
                    <li>Content that is libellous, defamatory, contrary to public policy or otherwise unlawful or any other content deemed inappropriate by the Owner in its sole discretion.</li>
                  </ul>
                  <p>Use of any such inappropriate content by You will result in the suspension, termination and removal of the Advertisement or any other action deemed necessary by the Company in its sole discretion.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Acceptance</div>
                <div class="terms-box-des">
                  <p>The Company reserves the right to review and approve the suitability of the Advertisement submitted. The Website may reject or cancel any Advertisement for any reason which it believes in good-faith to be detrimental. </p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ License</div>
                <div class="terms-box-des">
                  <ul> 
                    <li>Client grants the Owner a limited, non transferable, nonexclusive license to copy, use, store, set up, publicly display, publicly perform and transmit the Client’s Advertisement (including any trandenames, trademarks and service marks shown) during the term of this Agreement and solely in connection with this Agreement. Upon termination of this Agreement, the Owner will remove the Client’s Advertisement, destroy all copies of it and cease further display of the Advertisement.</li>
                    <li>Nothing in this Agreement grants Client any right to use the name, trademark, or service mark of Owner in any advertisement, sales promotion, or press release without Owner’s prior written approval.</li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Proprietary Rights</div>
                <div class="terms-box-des">
                  <ul> 
                    <li>You grants the Company a limited, non transferable, nonexclusive license to copy, use, store, set up, publicly display, publicly perform and transmit Your Advertisement (including any trandenames, trademarks and service marks shown) during the term of this Agreement and solely in connection with this Agreement. Upon termination of the payment, the Website will remove your Advertisement, destroy all copies of it and cease further display of the Advertisement.</li>
                    <li>Nothing in this Agreement grants You any right to use the name, trademark, or service mark of the Company in any advertisement, sales promotion, or press release without the Company’s prior written approval.</li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Client Warranty</div>
                <div class="terms-box-des">
                  <ul> 
                    <li>Client has the right and authority to enter into and perform its obligations under this Agreement;</li>
                    <li>the Advertisement shall conform to the description and specifications set forth by Owner;</li>
                    <li>the Advertisement shall not constitute or be the subject of a notice or claim of any false designation of origin, false advertising or unfair competition under the law of any country; </li>
                    <li>the Advertisement does not and shall not contain or be alleged to contain any content, work, name, mark, designation, materials or link that actually or potentially violates any applicable law or regulation, or infringes any proprietary, intellectual property, contract or tort right of any person or misappropriates a person's trade secret, name, likeness or identity;</li>
                    <li>the Advertisement contains no viruses, worms, malicious code, trap doors, back doors, timers, clocks, counters, FTP servers, or other limiting routines, instructions or designs, and no web beacons, web bugs, spy ware or other similar hidden or transparent code, script, or routine designed to gather, track or transmit information about Owner or the users of the Website; and</li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Disclaimer</div>
                <div class="terms-box-des">
                  <p>The services and site are provided “as is” without warranty of any kind, express or implied and any use of the services or Website are at Client’s sole risk. Owner does not warrant that the services or Website will be uninterrupted or error free, nor does Owner make any warranty as to the performance or any results that may be obtained by use of the services or Website. Owner makes no other warranties, express or implied, including, without limitation, any implied warranties of merchantability and fitness for a particular purpose, concerning the subject matter of this agreement.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Independent Contractor</div>
                <div class="terms-box-des">
                  <p>Owner shall provide the Services as an independent contractor and Owner shall not act as an employee, agent or broker of the Client. As an independent contractor, Owner will be solely responsible for paying any and all taxes levied by applicable laws on its compensation. Owner understands that Client will not withhold any amounts for payment of any taxes from Owner's compensation.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Termination</div>
                <div class="terms-box-des">
                  <ul> 
                    <li>Either party may terminate this Agreement for convenience by providing fifteen (15) days written notice (“Termination Notice”) to the other party.</li>
                    <li>If a party violates its obligations to be performed under this Agreement, the other party may terminate the Agreement by sending a fifteen (15) days notice in writing. Upon receiving such notice, the defaulting party shall have fifteen (15) days from the date of such notice to cure any such default. If the default is not cured within the required fifteen (15) day period, the party providing notice shall have the right to terminate this Agreement.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="terms-footer mona-content">
            <div class="line"> </div>
            <div class="content"> 
              <p>By using the Website and Service, you agree to abide by these Terms and Conditions. These Terms and Conditions may be updated by VietInfo at any time, and the latest version will be made available on our website. It is the Client's responsibility to review these terms periodically for any changes.</p>
              <p>If you have any questions or concerns regarding these Terms and Conditions, please contact VietInfo at admin@vietinfo.us.</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="ft"> 
      <div class="container"> 
        <div class="ft-wrap"> 
          <div class="ft-head"> 
            <div class="ft-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.svg" alt=""/></a></div>
            <div class="t-slogan"><span class="t-text">
                 Cổng thông tin <span class="fw-7 c-pri">
                   MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
          </div>
          <div class="ft-nav">
            <ul class="menu"> 
              <li><a href="">VIỆC LÀM</a></li>
              <li><a href="">MUA CỬA TIỆM</a></li>
              <li><a href="">VIỆT EVENTS</a></li>
              <li><a href="">THUÊ NHÀ</a></li>
              <li><a href="">MUA NHÀ</a></li>
              <li><a href="">RAO VẶT</a></li>
              <li><a href="">LIÊN HỆ QUẢNG CÁO</a></li>
            </ul>
          </div>
          <div class="ft-sc"> 
            <div class="social"> 
              <div class="social-list"> <a class="social-link" href=""> <img src="./assets/images/ic-fb.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-yt.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-ins.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-x.svg" alt=""/></a></div>
            </div>
          </div>
          <div class="ft-panel"> 
            <div class="ft-list row"> 
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> LIÊN HỆ HỢP TÁC</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:contact@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> LIÊN HỆ QUẢNG CÁO</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:ads@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> HỖ TRỢ KỸ THUẬT</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:admin@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ft-bank"> 
            <div class="i-list"><a class="i-link" href=""><img src="./assets/images/icon-bank (1).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (2).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (3).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (4).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (5).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (6).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (7).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (8).svg" alt=""/></a>
            </div>
          </div>
          <div class="ft-bot">
            <div class="ft-nav"> 
              <ul class="menu">
                <li> <a href="">Privacy Policy</a></li>
                <li> <a href="">Terms of Service </a></li>
                <li> <a href="">Ads Service Agreement</a></li>
              </ul>
            </div><span class="t-text">
                Designed by Qixtech - Web Design & Digital Marketing</span><span class="t-text">
               Copyright © 2024. VietInfo LLC. All Right Reserved. </span>
          </div>
        </div>
      </div>
    </footer>
    <div class="fixed-side">
      <div class="fchat"> <a class="i-link" href=""><img src="./assets/images/icon-mess2.svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-mess.svg" alt=""/></a></div>
      <div class="back-to-top backToTop">
        <div class="icon fa-solid fa-arrow-up"></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/splide/splide-auto-scroll.js"></script>
    <script src="./assets/library/splide/splide.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./assets/library/datetime/moment.min.js"></script>
    <script src="./assets/library/datetime/daterangepicker.min.js"></script>
    <script src="./assets/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./assets/library/splitting/splitting.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./assets/library/trimline/jquery.trimLines.js"></script>
    <script src="./assets/library/dropzone/dropzone.min.js"></script>
    <script>
      function formatFileSize(bytes) {
         if (bytes < 1024) return bytes + ' B';
         let kb = bytes / 1024;
         if (kb < 1024) return kb.toFixed(2) + ' KB';
         let mb = kb / 1024;
         if (mb < 1024) return mb.toFixed(2) + ' MB';
         let gb = mb / 1024;
         return gb.toFixed(2) + ' GB';
      }
      Dropzone.autoDiscover = false;
      var dropzone = new Dropzone('#dropzone-upload', {
         parallelUploads: 2,
         thumbnailHeight: 120,
         thumbnailWidth: 120,
         maxFilesize: 3,
         filesizeBase: 1000,
         addedfile: function(file) {
            // Tạo div để hiển thị thông tin tải lên
            var resultDiv = document.getElementById('upload-result');
            if (!file || !file.upload || !file.upload.uuid) {
               console.error('File hoặc UUID không hợp lệ:', file);
               return;
            }
            // Tạo HTML cho file đang upload
            var fileDiv = document.createElement('div');
            fileDiv.classList.add('swiper-slide', 'col', 'col-4');
            fileDiv.id = 'file-' + file.upload.uuid; // Dùng UUID để nhận diện từng file
            var imageUrl = file.dataURL || 'No link available';
            fileDiv.innerHTML = `
                  <div class="dropzone-wr">
                     <div class="dropzone-img none">
                        <img src=${imageUrl} alt="">
                     </div>
                     <div class="dropzone-ct">
                        <div class="dropzone-top">
                        <div class="content"> 
                           <p class="dropzone-title fw-6">Uploading...</p>
                           <p class="dropzone-des"><span class='percent'>65%</span>  • 30 seconds remaining</p>
                        </div>
                        <div class="dropzone-delete"> <img src="./assets/images/ic-delete.svg" alt="">
                        </div>
                        </div>
                        <div class="dropzone-progress">
                        <div class="inner"></div>
                        </div>
                     </div>
                  </div>
            `;
            
            // Thêm fileDiv vào div hiển thị kết quả
            resultDiv.appendChild(fileDiv);
            var deleteButton = fileDiv.querySelector('.dropzone-delete');
            deleteButton.addEventListener('click', function () {
                  removeFile(file);
            });
         },
         thumbnail: function (file, dataUrl) {
         if (!file || !file.upload || !file.upload.uuid) {
               console.error('File hoặc UUID không hợp lệ trong thumbnail:', file);
               return;
         }
      
         // Cập nhật thumbnail khi Dropzone tạo ra dataURL
         var fileDiv = document.getElementById('file-' + file.upload.uuid);
         if (fileDiv) {
               var imgElement = fileDiv.querySelector('.dropzone-img img');
               imgElement.src = dataUrl;
               fileDiv.querySelector('.dropzone-img').classList.remove('none'); // Hiển thị hình ảnh
         }
         },
         uploadprogress: function(file, progress, bytesSent) {
            if (!file || !file.upload || !file.upload.uuid) {
               console.error('File hoặc UUID không hợp lệ:', file);
               return;
            }
            // Cập nhật tiến trình và phần trăm
            var fileDiv = document.getElementById('file-' + file.upload.uuid);
            var progressBar = fileDiv.querySelector('.dropzone-progress .inner');
            var progressPercentage = fileDiv.querySelector('.dropzone-wr .percent');
      
            // Cập nhật thanh progress và phần trăm
            progressBar.style.width = progress + '%';
            progressPercentage.textContent = progress.toFixed(2) + '%';
         },
         success: function(file, response) {
            if (!file || !file.upload || !file.upload.uuid) {
               console.error('File hoặc UUID không hợp lệ:', file);
               return;
           }
            // Khi tải lên thành công, cập nhật thông tin file
            var fileDiv = document.getElementById('file-' + file.upload.uuid);
            var fileName = file.name; // Tên file đã upload
            var fileSize = formatFileSize(file.size);
            var imageUrl = file.dataURL || 'No link available';
            // Thay đổi 'Uploading...' thành tên file
            fileDiv.querySelector('.dropzone-title').innerHTML = `${fileName}`;
            
            // Cập nhật thanh progress thành 100%
            fileDiv.querySelector('.dropzone-progress .inner').style.width = '100%';
            fileDiv.querySelector('.dropzone-wr .percent').textContent = '100%';
            
      
            // Ẩn thanh progress và phần trăm sau khi thành công
            setTimeout(function() {
               fileDiv.querySelector('.dropzone-progress').style.display = 'none';
               fileDiv.querySelector('.dropzone-title').innerHTML = `${fileName}`;
               fileDiv.querySelector('.dropzone-progress').style.display = 'none';
               fileDiv.querySelector('.dropzone-des').innerHTML = fileSize;
               fileDiv.querySelector('.dropzone-img').classList.remove('none'); 
            }, 1000); // Ẩn sau 1 giây
         },
         complete: function(file) {
            if (!file || !file.upload || !file.upload.uuid) {
               console.error('File hoặc UUID không hợp lệ:', file);
               return;
           }
            // Nếu upload hoàn tất, ẩn thanh progress và % sau một thời gian ngắn
            var fileDiv = document.getElementById('file-' + file.upload.uuid);
             var fileName = file.name; 
             var fileSize = formatFileSize(file.size);
             var imageUrl = file.dataURL || 'No link available';
            setTimeout(function() {
               fileDiv.querySelector('.dropzone-title').innerHTML = `${fileName}`;
               fileDiv.querySelector('.dropzone-progress').style.display = 'none';
               fileDiv.querySelector('.dropzone-des').innerHTML = fileSize;
               fileDiv.querySelector('.dropzone-img').classList.remove('none'); 
            }, 1000); // Ẩn thanh progress sau 1 giây
         }
      });
      function removeFile(file) {
       var fileDiv = document.getElementById('file-' + file.upload.uuid);
       if (fileDiv) {
           fileDiv.remove(); // Xóa phần tử khỏi DOM
           dropzone.removeFile(file); // Xóa file khỏi Dropzone
           console.log(`File ${file.name} đã bị xóa.`);
       }
      }
    </script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>