<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Directory Realtor</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body class="page-dir">
    <header class="hd"> 
      <div class="container"> 
        <div class="hd-wrap"> 
          <div class="hd-top">
            <div class="home-bn-srch">
              <form action="">
                <div class="home-bn-srch-box">
                  <div class="sl"> 
                    <select class="re-select-main" name="" data-placeholder="Danh mục"> 
                      <option value=""> Danh mục</option>
                      <option value="1"> Danh mục 1</option>
                      <option value="2"> Danh mục 2</option>
                      <option value="3"> Danh mục 3</option>
                    </select>
                  </div>
                  <div class="ip"> 
                    <div class="ip-wrap"><img src="./assets/images/ic-pin.svg" alt=""/>
                      <input type="text" placeholder="State, city, ZIP code">
                    </div>
                    <button class="ip-icon"><img src="./assets/images/ic-srch.svg" alt=""/>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="b-gr"> 
              <div class="hd-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.svg" alt=""/></a></div>
              <div class="hd-noti t-slogan"><span class="t-text">
                   Cổng thông tin <span class="fw-7 c-pri">
                     MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
              <div class="hd-ctr"> 
                <div class="hd-lang"> <span class="i-ar"><i class="fa-light fa-chevron-down"></i></span><span class="t-text">
                     VN </span>
                  <div class="lang-pos"> <a class="t-text" href="">EN </a></div>
                </div><a class="btn" href=""><span class="inner">Đăng tin miễn phí</span><i></i></a>
                <div class="hd-burger" id="hamburger"> 
                  <div class="burger"> 
                    <div class="hamburger"> 
                      <div class="line"> </div>
                      <div class="line"></div>
                      <div class="line"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hd-bot">
            <div class="b-gr"> 
              <div class="hd-nav">
                <div class="menu-nav"> 
                  <ul class="menu-list">
                    <li class="menu-item"> <a class="menu-link" href="">Việc làm</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Mua cửa tiệm</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Việt Event</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Thuê nhà</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Mua nhà</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Rao vặt</a></li>
                  </ul>
                </div>
              </div><a class="btn-noti" href=""> <span class="icon"> <img src="./assets/images/icon-noti.svg" alt=""/></span><span class="t-text">
                   Quảng cáo trên VietInfo</span></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="mobile-overlay"></div>
    <div class="mobile">
      <div class="mobile-con">
        <div class="mobile-wr">
          <div class="mobile-nav">
            <div class="menu-nav">
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link" href="">Việc làm</a></li>
                <li class="menu-item"><a class="menu-link" href="">Mua cửa tiệm</a></li>
                <li class="menu-item"><a class="menu-link" href="">Việt Event</a></li>
                <li class="menu-item"><a class="menu-link" href="">Thuê nhà</a></li>
                <li class="menu-item"><a class="menu-link" href="">Mua nhà</a></li>
              </ul>
            </div>
          </div>
          <div class="mobile-content"><a class="btn-noti" href=""> <span class="icon"> <img src="./assets/images/icon-noti.svg" alt=""/></span><span class="t-text">
                 Quảng cáo trên VietInfo</span></a><a class="btn full" href=""><span class="inner">Đăng tin miễn phí</span><i></i></a>
            <div class="hd-noti"> <span class="t-text">
                 Cổng thông tin <span class="fw-7 c-pri">
                   MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
          </div>
        </div>
      </div>
    </div>
    <main class="main">
      <div class="breadcrumb"> 
        <div class="container">
          <ul class="breadcrumb-list">
            <li class="breadcrumb-item" data-aos="fade-right"><a class="breadcrumb-link" href="">Trang chủ</a></li>
            <li class="breadcrumb-item" data-aos="fade-right"><a class="breadcrumb-link" href="">Luật sư Việt</a></li>
          </ul>
        </div>
      </div>
      <section class="sec-home-hero"> 
        <div class="home-hero ss-pd">
          <div class="container"> 
            <div class="home-hero"> 
              <div class="home-hero-tags"> <span class="home-hero-tag">Sponsored</span></div>
              <div class="home-hero-left">
                <div class="bg">  <img src="./assets/images/hero-dec.png" alt=""/>
                </div>
                <div class="home-hero-ctn">   
                  <h3 class="home-hero-tt">Trải nghiệm xứng tầm</h3>
                  <p class="home-hero-des">Nhà phát triển bất động sản hàng hiệu</p>
                  <div class="home-hero-bot"> <a class="btn" href=""><span class="inner">Khám phá ngay</span><i></i></a>
                    <div class="social"> 
                      <div class="social-list"> <a class="social-link" href=""> <img src="./assets/images/ic-fb.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-yt.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-ins.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-x.svg" alt=""/></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="home-hero-right"><img src="./assets/images/hero-img.jpg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sec-direc-data"> 
        <div class="direc-data ss-pd">
          <div class="container"> 
            <div class="head-sc mb-48">
              <div class="head dcor">
                <h2 class="t-title"> Realtor - chuyên gia bất động sản</h2>
                <p class="t-des"> Directory Realtor người Việt</p>
              </div>
            </div>
            <div class="direc-table-wrapper"> 
              <div class="sear-form"> 
                <form action="">
                  <div class="b-form-gr">
                    <div class="form-list row"> 
                      <div class="col form-ip col-search"> 
                        <div class="b-ip-search"><span class="icon"><img src="./assets/images/icon-search.svg" alt=""/></span><span class="icon-remove"> <i class="fa-light fa-xmark fw-7"></i></span>
                          <input type="search" placeholder="Enter the firm name or expertise">
                        </div>
                      </div>
                      <div class="col col-btn"><a class="btn" href=""><span class="inner">Save search</span><i></i></a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="direc-table"> 
                <div class="table-container">
                  <div class="table-header">
                    <div class="header-cell">
                       Tên Realtor<img src="./assets/images/arrow-table.svg" alt=""/>
                    </div>
                    <div class="header-cell">
                       Organization name<img src="./assets/images/arrow-table.svg" alt=""/>
                    </div>
                    <div class="header-cell">Email</div>
                    <div class="header-cell">Phone</div>
                    <div class="header-cell">Address</div>
                  </div>
                  <div class="table-row">
                    <div class="cell" data-text="Tên văn phòng"><a href="#">Tu Nguyen</a><img src="./assets/images/arrow-table-cl.svg" alt=""/>
                    </div>
                    <div class="cell" data-text="Lĩnh vực hoạt động">NDIMAXIM management</div>
                    <div class="cell" data-text="Email">olivia@untitled.com</div>
                    <div class="cell" data-text="Phone">0123456789</div>
                    <div class="cell" data-text="Address">139 Triumph Ave, Ste. 81, Dallas, TX 75241</div>
                  </div>
                  <div class="table-row">
                    <div class="cell" data-text="Tên văn phòng"><a href="#">Tu Nguyen</a><img src="./assets/images/arrow-table-cl.svg" alt=""/>
                    </div>
                    <div class="cell" data-text="Lĩnh vực hoạt động">NDIMAXIM management@olivia</div>
                    <div class="cell" data-text="Email">olivia@untitled.com</div>
                    <div class="cell" data-text="Phone">0123456789</div>
                    <div class="cell" data-text="Address">139 Triumph Rd, Dallas, TX 75241</div>
                  </div>
                  <div class="table-row">
                    <div class="cell" data-text="Tên văn phòng"><a href="#">Tu Nguyen</a><img src="./assets/images/arrow-table-cl.svg" alt=""/>
                    </div>
                    <div class="cell" data-text="Lĩnh vực hoạt động">NDIMAXIM management@olivia</div>
                    <div class="cell" data-text="Email">olivia@untitled.com</div>
                    <div class="cell" data-text="Phone">0123456789</div>
                    <div class="cell" data-text="Address">139 Triumph Rd, Dallas, TX 75241</div>
                  </div>
                  <div class="table-row">
                    <div class="cell" data-text="Tên văn phòng"><a href="#">Tu Nguyen</a><img src="./assets/images/arrow-table-cl.svg" alt=""/>
                    </div>
                    <div class="cell" data-text="Lĩnh vực hoạt động">NDIMAXIM management@olivia</div>
                    <div class="cell" data-text="Email">olivia@untitled.com</div>
                    <div class="cell" data-text="Phone">0123456789</div>
                    <div class="cell" data-text="Address">139 Triumph Rd, Dallas, TX 75241</div>
                  </div>
                  <div class="table-row">
                    <div class="cell" data-text="Tên văn phòng"><a href="#">Tu Nguyen</a><img src="./assets/images/arrow-table-cl.svg" alt=""/>
                    </div>
                    <div class="cell" data-text="Lĩnh vực hoạt động">NDIMAXIM management@olivia</div>
                    <div class="cell" data-text="Email">olivia@untitled.com</div>
                    <div class="cell" data-text="Phone">0123456789</div>
                    <div class="cell" data-text="Address">139 Triumph Rd, Dallas, TX 75241</div>
                  </div>
                  <div class="table-row">
                    <div class="cell" data-text="Tên văn phòng"><a href="#">Tu Nguyen</a><img src="./assets/images/arrow-table-cl.svg" alt=""/>
                    </div>
                    <div class="cell" data-text="Lĩnh vực hoạt động">NDIMAXIM management@olivia</div>
                    <div class="cell" data-text="Email">olivia@untitled.com</div>
                    <div class="cell" data-text="Phone">0123456789</div>
                    <div class="cell" data-text="Address">139 Triumph Rd, Dallas, TX 75241</div>
                  </div>
                  <div class="table-row">
                    <div class="cell" data-text="Tên văn phòng"><a href="#">Tu Nguyen</a><img src="./assets/images/arrow-table-cl.svg" alt=""/>
                    </div>
                    <div class="cell" data-text="Lĩnh vực hoạt động">NDIMAXIM management@olivia</div>
                    <div class="cell" data-text="Email">olivia@untitled.com</div>
                    <div class="cell" data-text="Phone">0123456789</div>
                    <div class="cell" data-text="Address">139 Triumph Rd, Dallas, TX 75241</div>
                  </div>
                  <div class="table-pagi"> 
                    <div class="form-ip"> 
                      <select class="re-select-main" name="">
                        <option value="1"> 10 items/page </option>
                        <option value="1"> 20 items/page </option>
                        <option value="1"> 30 items/page </option>
                      </select>
                    </div>
                    <ul class="page-numbers page-navigation">
                      <li> <a class="prev page-numbers" href=""><i class="fa-solid fa-arrow-left"></i><span class="txt">Previous</span></a></li>
                      <li><span class="page-numbers current">
                            1</span></li>
                      <li><a class="page-numbers" href="">
                            2</a></li>
                      <li> <span class="page-numbers dot">
                           ...</span></li>
                      <li><a class="page-numbers" href="">
                            10</a></li>
                      <li> <a class="next page-numbers" href=""><span class="txt">Next</span><i class="fa-solid fa-arrow-right"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sec-dir-business"> 
        <div class="dir-business bg-gray ss-pd"> 
          <div class="container"> 
            <div class="head-sc mb-48">
              <div class="head dcor">
                <h2 class="t-title"> Chưa có business của bạn?</h2>
                <p class="t-des"> Điền form để đăng tải thông tin về business của bạn</p>
              </div>
            </div>
            <div class="dir-business-wrapper"> 
              <div class="dir-form"> 
                <div class="form-list row"> 
                  <div class="form-ip col per3"> 
                    <p class="text">Business type</p>
                    <select class="re-select-main" name="" data-placeholder="Select business type"> 
                      <option value="">Select business type</option>
                      <option value="1">Y tế</option>
                      <option value="2">Kế toán - CPA</option>
                      <option value="3">Văn phòng luật</option>
                      <option value="3">Bất động sản</option>
                      <option value="3">Việc nhà</option>
                    </select>
                  </div>
                  <div class="form-ip col per3"> 
                    <p class="text">Your name</p>
                    <input type="text" placeholder="Enter your name">
                  </div>
                  <div class="form-ip col per3"> 
                    <p class="text">Organization name (optional)</p>
                    <input type="text" placeholder="Enter your organization name">
                  </div>
                  <div class="form-ip col per3"> 
                    <p class="text">Email</p>
                    <input type="text" placeholder="Enter your email">
                  </div>
                  <div class="form-ip col per3"> 
                    <p class="text">Phone number</p>
                    <input type="text" placeholder="Enter your phone number">
                  </div>
                  <div class="form-ip col per3"> 
                    <p class="text">Website (optional)</p>
                    <input type="text" placeholder="Enter URL">
                  </div>
                  <div class="form-ip col per3"> 
                    <p class="text">Address 1 </p>
                    <input type="text" placeholder="Stress adress">
                  </div>
                  <div class="form-ip col per6">
                    <p class="text">Address 2 (optional)</p>
                    <input type="text" placeholder="Apt, suite, unit, building, floor, etc.">
                  </div>
                  <div class="form-ip col per3"> 
                    <p class="text">City</p>
                    <input type="text" placeholder="Texas">
                  </div>
                  <div class="form-ip col per3"> 
                    <p class="text">State</p>
                    <select class="re-select-main" name="" data-placeholder="Choose state"> 
                      <option value="">Choose state</option>
                      <option value="1">State 1</option>
                      <option value="2">State 2</option>
                      <option value="3">State 3</option>
                      <option value="3">State 4</option>
                      <option value="3">State 5</option>
                    </select>
                  </div>
                  <div class="form-ip col per3"> 
                    <p class="text">Zip code</p>
                    <input type="text" placeholder="Zip code">
                  </div>
                  <div class="form-ip col"> 
                    <p class="text">Proof Document</p>
                    <label class="upload-container">
                      <input id="fileInput" hidden="" type="file">
                      <div class="drop-area" id="dropArea">
                        <div class="drop-area-icon"> <img src="./assets/images/ic-upload-cloud.svg" alt=""/>
                        </div>
                        <p class="drop-area-text"><strong> <span class="blue">Chọn và tải lên</span></strong>hoặc kéo thả tài liệu<br>chứng thực business của bạn (e.g license, đăng ký kinh doanh). VietINFO cam kết bảo mật thông tin <br>người dùng. Xem <a class="blue" href="">chính sách bảo mật </a>của chúng tôi để biết thêm chi tiết.</p>
                        <ul id="fileList"></ul>
                      </div>
                    </label>
                  </div>
                  <div class="form-ip col"> 
                    <button class="btn" type="submit"><span class="inner">Submit for review</span><i></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="ft"> 
      <div class="container"> 
        <div class="ft-wrap"> 
          <div class="ft-head"> 
            <div class="ft-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.svg" alt=""/></a></div>
            <div class="t-slogan"><span class="t-text">
                 Cổng thông tin <span class="fw-7 c-pri">
                   MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
          </div>
          <div class="ft-nav">
            <ul class="menu"> 
              <li><a href="">VIỆC LÀM</a></li>
              <li><a href="">MUA CỬA TIỆM</a></li>
              <li><a href="">VIỆT EVENTS</a></li>
              <li><a href="">THUÊ NHÀ</a></li>
              <li><a href="">MUA NHÀ</a></li>
              <li><a href="">RAO VẶT</a></li>
              <li><a href="">LIÊN HỆ QUẢNG CÁO</a></li>
            </ul>
          </div>
          <div class="ft-sc"> 
            <div class="social"> 
              <div class="social-list"> <a class="social-link" href=""> <img src="./assets/images/ic-fb.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-yt.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-ins.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-x.svg" alt=""/></a></div>
            </div>
          </div>
          <div class="ft-panel"> 
            <div class="ft-list row"> 
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> LIÊN HỆ HỢP TÁC</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:contact@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> LIÊN HỆ QUẢNG CÁO</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:ads@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> HỖ TRỢ KỸ THUẬT</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:admin@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ft-bank"> 
            <div class="i-list"><a class="i-link" href=""><img src="./assets/images/icon-bank (1).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (2).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (3).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (4).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (5).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (6).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (7).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (8).svg" alt=""/></a>
            </div>
          </div>
          <div class="ft-bot">
            <div class="ft-nav"> 
              <ul class="menu">
                <li> <a href="">Privacy Policy</a></li>
                <li> <a href="">Terms of Service </a></li>
                <li> <a href="">Ads Service Agreement</a></li>
              </ul>
            </div><span class="t-text">
                Designed by Qixtech - Web Design & Digital Marketing</span><span class="t-text">
               Copyright © 2024. VietInfo LLC. All Right Reserved. </span>
          </div>
        </div>
      </div>
    </footer>
    <div class="fixed-side">
      <div class="fchat"> <a class="i-link" href=""><img src="./assets/images/icon-mess2.svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-mess.svg" alt=""/></a></div>
      <div class="back-to-top backToTop">
        <div class="icon fa-solid fa-arrow-up"></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/splide/splide-auto-scroll.js"></script>
    <script src="./assets/library/splide/splide.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./assets/library/datetime/moment.min.js"></script>
    <script src="./assets/library/datetime/daterangepicker.min.js"></script>
    <script src="./assets/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./assets/library/splitting/splitting.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./assets/library/trimline/jquery.trimLines.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v17.0"></script>
    <script src="./assets/library/froala_editor/js/froala_editor.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/emoticons.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/align.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/font_family.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/font_size.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/image.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/link.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/lists.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/file.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/table.min.js"></script>
    <script src="./assets/library/dropzone/dropzone.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>