<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pop nha hang dang ban</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body class="page-home">
    <header class="hd"> 
      <div class="container"> 
        <div class="hd-wrap"> 
          <div class="hd-top">
            <div class="home-bn-srch">
              <form action="">
                <div class="home-bn-srch-box">
                  <div class="sl"> 
                    <select class="re-select-main" name="" data-placeholder="Danh mục"> 
                      <option value=""> Danh mục</option>
                      <option value="1"> Danh mục 1</option>
                      <option value="2"> Danh mục 2</option>
                      <option value="3"> Danh mục 3</option>
                    </select>
                  </div>
                  <div class="ip"> 
                    <div class="ip-wrap"><img src="./assets/images/ic-pin.svg" alt=""/>
                      <input type="text" placeholder="State, city, ZIP code">
                    </div>
                    <button class="ip-icon"><img src="./assets/images/ic-srch.svg" alt=""/>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="b-gr"> 
              <div class="hd-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.svg" alt=""/></a></div>
              <div class="hd-noti t-slogan"><span class="t-text">
                   Cổng thông tin <span class="fw-7 c-pri">
                     MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
              <div class="hd-ctr"> 
                <div class="hd-lang"> <span class="i-ar"><i class="fa-light fa-chevron-down"></i></span><span class="t-text">
                     VN </span>
                  <div class="lang-pos"> <a class="t-text" href="">ENG </a></div>
                </div><a class="btn" href=""><span class="inner">Đăng tin miễn phí</span><i></i></a>
                <div class="hd-burger" id="hamburger"> 
                  <div class="burger"> 
                    <div class="hamburger"> 
                      <div class="line"> </div>
                      <div class="line"></div>
                      <div class="line"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hd-bot">
            <div class="b-gr"> 
              <div class="hd-nav">
                <div class="menu-nav"> 
                  <ul class="menu-list">
                    <li class="menu-item"> <a class="menu-link" href="">Việc làm</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Mua cửa tiệm</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Việt Event</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Thuê nhà</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Mua nhà</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Rao vặt</a></li>
                  </ul>
                </div>
              </div><a class="btn-noti" href=""> <span class="icon"> <img src="./assets/images/icon-noti.svg" alt=""/></span><span class="t-text">
                   Quảng cáo trên VietInfo</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-overlay"></div>
      <div class="mobile">
        <div class="mobile-con">
          <div class="mobile-wr">
            <div class="mobile-nav">
              <div class="menu-nav">
                <ul class="menu-list">
                  <li class="menu-item"><a class="menu-link" href="">Việc làm</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Mua cửa tiệm</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Việt Event</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Thuê nhà</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Mua nhà</a></li>
                </ul>
              </div>
            </div>
            <div class="mobile-content"><a class="btn-noti" href=""> <span class="icon"> <img src="./assets/images/icon-noti.svg" alt=""/></span><span class="t-text">
                   Quảng cáo trên VietInfo</span></a><a class="btn full" href=""><span class="inner">Đăng tin miễn phí</span><i></i></a>
              <div class="hd-noti"> <span class="t-text">
                   Cổng thông tin <span class="fw-7 c-pri">
                     MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="popup open" data-popup-id="dt">
        <div class="popup-overlay"></div>
        <div class="popup-main">
          <div class="popup-main-wrapper popdt">
            <div class="heads"> 
              <div class="container"> 
                <div class="heads-wrap"> <a class="heads-logo" href=""><img src="./assets/images/popdt-logo.svg" alt=""/></a>
                  <div class="popup-close"><i class="fas fa-times icon"></i></div>
                </div>
              </div>
            </div>
            <div class="popup-over">
              <div class="popup-wrapper">
                <div class="container">
                  <div class="popdt-img gallery-container"> 
                    <div class="popdt-img-all open-gallery"> <img src="./assets/images/ic-seeall.svg" alt=""/><span class="txt">See all 33 photos</span>
                    </div>
                    <div class="popdt-img-grid gallery">
                      <div class="popdt-image"><span class="gItem img" data-src="./assets/images/popdt-img1.jpg">
                          <div class="tag">Cho thuê</div><img src="./assets/images/popdt-img1.jpg" alt=""/></span></div>
                      <div class="popdt-image"><span class="gItem img" data-src="./assets/images/popdt-img2.jpg">
                          <div class="tag">Cho thuê</div><img src="./assets/images/popdt-img2.jpg" alt=""/></span></div>
                      <div class="popdt-image"><span class="gItem img" data-src="./assets/images/popdt-img3.jpg">
                          <div class="tag">Cho thuê</div><img src="./assets/images/popdt-img3.jpg" alt=""/></span></div>
                      <div class="popdt-image"><span class="gItem img" data-src="./assets/images/popdt-img4.jpg">
                          <div class="tag">Cho thuê</div><img src="./assets/images/popdt-img4.jpg" alt=""/></span></div>
                      <div class="popdt-image"><span class="gItem img" data-src="./assets/images/popdt-img5.jpg">
                          <div class="tag">Cho thuê</div><img src="./assets/images/popdt-img5.jpg" alt=""/></span></div>
                    </div>
                  </div>
                  <div class="popdt-flex row"> 
                    <div class="popdt-main col"> 
                      <div class="wrapper"> 
                        <div class="popdt-info popdt-block">
                          <div class="popdt-info-top">
                            <div class="info"> 
                              <p class="tt">$345,00<span class="popdt-info-tag">Thương lượng</span></p>
                              <p class="des">139 Triumph Rd, Dallas, TX 75241</p>
                            </div>
                            <div class="ser"> 
                              <div class="ser-item"><img src="./assets/images/ic-seat.svg" alt=""/><span class="txt">2 seats</span>
                              </div>
                              <div class="ser-item"><img src="./assets/images/ic-sqft.svg" alt=""/><span class="txt">11,300 sqft</span>
                              </div>
                            </div>
                          </div>
                          <div class="popdt-info-bot"> 
                            <div class="info">   
                              <div class="info-item"> 
                                <p class="value"> <span class="bold">Nam Phuong Restaurant</span></p>
                              </div>
                              <div class="info-item"> 
                                <p class="name">Rent: </p>
                                <p class="value"> <span class="bold">$1,500</span>/month</p>
                              </div>
                              <div class="info-item"> 
                                <p class="name">Income:</p>
                                <p class="value"> <span class="bold"> $1,000,000</span>/year</p>
                              </div>
                            </div>
                            <div class="fea"> 
                              <div class="fea-item"> <img src="./assets/images/ic-comm.svg" alt=""/><span class="txt">Restaurant</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="popdt-detail popdt-block"> 
                          <p class="tt">Chi tiết</p>
                          <input type="checkbox" id="more">
                          <div class="des">
                            <p class="des-txt">
                               Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                              Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                              Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                              Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                            </p>
                          </div>
                          <label class="link" for="more"> <img src="./assets/images/arrow-down.svg" alt=""/><span class="link-wrap"> <span class="txt">Show more</span><span class="txt">Show less</span></span>
                          </label>
                          <div class="popdt-time"> 
                            <div class="popdt-time-it"><img src="./assets/images/ic-clock.svg" alt=""/><span class="txt">2 days<span class="txt-sub">on Vietinfo</span></span>
                            </div>
                            <div class="popdt-time-it"><img src="./assets/images/ic-eyes.svg" alt=""/><span class="txt">10,758<span class="txt-sub">views</span></span>
                            </div>
                          </div>
                        </div>
                        <div class="popdt-school popdt-block"> 
                          <p class="tt">Trường học</p>
                          <div class="popdt-schools">
                            <div class="popdt-school-item"> <img src="./assets/images/710.svg" alt=""/>
                              <div class="ctn"> 
                                <p class="name">Thomas L Marsalis Elementary School</p>
                                <div class="val">
                                  <p class="val-item">
                                     Grades: <span class="bold">PK-5</span></p>
                                  <p class="val-item">
                                     Distance: <span class="bold">2 mi</span></p>
                                </div>
                              </div>
                            </div>
                            <div class="popdt-school-item"> <img src="./assets/images/510.svg" alt=""/>
                              <div class="ctn"> 
                                <p class="name">Boude Storey Middle School</p>
                                <div class="val">
                                  <p class="val-item">
                                     Grades: <span class="bold">6-8</span></p>
                                  <p class="val-item">
                                     Distance: <span class="bold">4 mi</span></p>
                                </div>
                              </div>
                            </div>
                            <div class="popdt-school-item"> <img src="./assets/images/210.svg" alt=""/>
                              <div class="ctn"> 
                                <p class="name">South Oak Cliff High School</p>
                                <div class="val">
                                  <p class="val-item">
                                     Grades: <span class="bold">9-12</span></p>
                                  <p class="val-item">
                                     Distance: <span class="bold">3.5 mi</span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="popdt-cmt popdt-block"> 
                          <p class="tt">Comments</p>
                          <div class="lib-cmt">
                            <div class="lib-cmt-wr"> 
                              <div class="lib-cmt-box cmtJS"> 
                                <ul class="lib-cmt-list">
                                  <li class="lib-cmt-item">
                                    <div class="wrap"> 
                                      <div class="ava"> <img src="./assets/images/minicircel.png" alt=""/>
                                      </div>
                                      <div class="ctn"> 
                                        <p class="ctn-name">
                                           Anonymous<span class="ctn-name-small">20h</span></p>
                                        <p class="ctn-des">Ultricies ultricies interdum dolor sodales. Vitae feugiat vitae vitae quis id consectetur. Aenean urna, lectus enim suscipit eget. Tristique bibendum nibh enim dui.</p>
                                        <div class="lib-cmt-rep"> 
                                          <div class="wrap"> <span class="ctn-like repJS"><span class="ctn-like-txt">Reply</span></span></div>
                                          <div class="lib-cmt-f"> 
                                            <form action="">
                                              <div class="lib-cmt-f-flex">
                                                <input type="text"/>
                                                <button><i class="fa-solid fa-paper-plane"></i></button>
                                              </div>
                                            </form>
                                          </div>
                                        </div>
                                        <div class="replies-txt repTxtJs"> <img src="./assets/images/arrow-down.svg" alt=""/><span class="txt"> <span class="num">11 </span>Replies</span>
                                        </div>
                                      </div>
                                    </div>
                                    <ul class="lib-cmt-list replies-drop repDropJs">
                                      <li class="lib-cmt-item"> 
                                        <div class="wrap"> 
                                          <div class="ava"> <img src="./assets/images/mini1.jpg" alt=""/>
                                          </div>
                                          <div class="ctn"> 
                                            <p class="ctn-name">
                                               Sara<span class="ctn-name-small">20h</span></p>
                                            <p class="ctn-des">Ultricies ultricies interdum dolor sodales. Vitae feugiat vitae vitae quis id consectetur. Aenean urna, lectus enim suscipit eget. Tristique bibendum nibh enim dui.</p>
                                            <div class="lib-cmt-rep"> 
                                              <div class="wrap"> <span class="ctn-like repJS"><span class="ctn-like-txt">Reply</span></span></div>
                                              <div class="lib-cmt-f"> 
                                                <form action="">
                                                  <div class="lib-cmt-f-flex">
                                                    <input type="text"/>
                                                    <button><i class="fa-solid fa-paper-plane"></i></button>
                                                  </div>
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="lib-cmt-item"> 
                                        <div class="wrap"> 
                                          <div class="ava"> <img src="./assets/images/mini2.jpg" alt=""/>
                                          </div>
                                          <div class="ctn"> 
                                            <p class="ctn-name">
                                               Sara<span class="ctn-name-small">20h</span></p>
                                            <p class="ctn-des">Ultricies ultricies interdum dolor sodales. Vitae feugiat vitae vitae quis id consectetur. Aenean urna, lectus enim suscipit eget. Tristique bibendum nibh enim dui.</p>
                                            <div class="lib-cmt-rep"> 
                                              <div class="wrap"> <span class="ctn-like repJS"><span class="ctn-like-txt">Reply</span></span></div>
                                              <div class="lib-cmt-f"> 
                                                <form action="">
                                                  <div class="lib-cmt-f-flex">
                                                    <input type="text"/>
                                                    <button><i class="fa-solid fa-paper-plane"></i></button>
                                                  </div>
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class="lib-cmt-item">
                                    <div class="wrap"> 
                                      <div class="ava"> <img src="./assets/images/mini1.jpg" alt=""/>
                                      </div>
                                      <div class="ctn"> 
                                        <p class="ctn-name">
                                           Courtney Henry<span class="ctn-name-small">20h</span></p>
                                        <p class="ctn-des">Ultricies ultricies interdum dolor sodales. Vitae feugiat vitae vitae quis id consectetur. Aenean urna, lectus enim suscipit eget. Tristique bibendum nibh enim dui.</p>
                                        <div class="lib-cmt-rep"> 
                                          <div class="wrap"> <span class="ctn-like repJS"><span class="ctn-like-txt">Reply</span></span></div>
                                          <div class="lib-cmt-f"> 
                                            <form action="">
                                              <div class="lib-cmt-f-flex">
                                                <input type="text"/>
                                                <button><i class="fa-solid fa-paper-plane"></i></button>
                                              </div>
                                            </form>
                                          </div>
                                        </div>
                                        <div class="replies-txt repTxtJs"> <img src="./assets/images/arrow-down.svg" alt=""/><span class="txt"> <span class="num">11 </span>Replies</span>
                                        </div>
                                      </div>
                                    </div>
                                    <ul class="lib-cmt-list repDropJs">
                                      <li class="lib-cmt-item"> 
                                        <div class="wrap"> 
                                          <div class="ava"> <img src="./assets/images/mini2.jpg" alt=""/>
                                          </div>
                                          <div class="ctn"> 
                                            <p class="ctn-name">
                                               Courtney Henry<span class="ctn-name-small">20h</span></p>
                                            <p class="ctn-des">Ultricies ultricies interdum dolor sodales. Vitae feugiat vitae vitae quis id consectetur. Aenean urna, lectus enim suscipit eget. Tristique bibendum nibh enim dui.</p>
                                            <div class="lib-cmt-rep"> 
                                              <div class="wrap"> <span class="ctn-like repJS"><span class="ctn-like-txt">Reply</span></span></div>
                                              <div class="lib-cmt-f"> 
                                                <form action="">
                                                  <div class="lib-cmt-f-flex">
                                                    <input type="text"/>
                                                    <button><i class="fa-solid fa-paper-plane"></i></button>
                                                  </div>
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="lib-cmt-send"> 
                              <div class="form-list row"> 
                                <div class="form-ip col"> 
                                  <p class="text">Tên</p>
                                  <input type="text" placeholder="Nhập tên của bạn"/>
                                </div>
                                <div class="form-ip col"> 
                                  <label class="checker"> 
                                    <input type="checkbox"/><span class="sqr"> </span><span class="txt">Comment Anonymously</span>
                                  </label>
                                </div>
                                <div class="form-ip col"> 
                                  <p class="text">Comment</p>
                                  <textarea name="" placeholder="Nhập nội dung"> </textarea>
                                </div>
                                <div class="form-ip col"> 
                                  <button class="btn" type="submit"><span class="inner">Comment</span><i></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="lib-cmt-send"> 
                              <div class="lib-cmt-send-avt"> 
                                <div class="ava"> <img src="./assets/images/mini1.jpg" alt=""/>
                                </div>
                                <p class="name">Ryan Nguyen</p>
                              </div>
                              <div class="form-list row"> 
                                <div class="form-ip col"> 
                                  <label class="checker"> 
                                    <input type="checkbox"/><span class="sqr"> </span><span class="txt">Comment Anonymously</span>
                                  </label>
                                </div>
                                <div class="form-ip col"> 
                                  <p class="text">Comment</p>
                                  <textarea name="" placeholder="Nhập nội dung"> </textarea>
                                </div>
                                <div class="form-ip col"> 
                                  <button class="btn" type="submit"><span class="inner">Comment</span><i></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="popdt-block popdt-slider slider-three"> 
                          <div class="head-sc">
                            <div class="head">
                              <h2 class="t-title"> Nhà hàng đang bán khác trong khu vực</h2>
                            </div>
                            <div class="swiper-control"> 
                              <div class="swiper-control-btn swiper-prev"> <i class="fa-light fa-chevron-left"></i></div>
                              <div class="swiper-control-btn swiper-next"> <i class="fa-light fa-chevron-right"></i></div>
                            </div>
                          </div>
                          <div class="swiper-container"> 
                            <div class="swiper rows">
                              <div class="swiper-wrapper"> 
                                <div class="swiper-slide col">
                                  <div class="pro-wr"> 
                                    <div class="pro-img"> 
                                      <div class="pro-time">2 ngày trước</div>
                                      <div class="pro-type">Nhà hàng</div><a class="inner" href="#"> <img src="./assets/images/pro-1.jpg" alt=""/></a>
                                    </div>
                                    <div class="pro-content">
                                      <div class="pro-top"> 
                                        <h3 class="pro-name">$500,000
                                          <div class="pro-tag">Thương lượng</div>
                                        </h3>
                                      </div>
                                      <div class="pro-note">
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">6 tables</span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">6 chairs</span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">11,300 sqft</span></div>
                                      </div>
                                      <div class="pro-note">
                                        <div class="pro-note-item"> <span class="txt fw-5">Rent: <span class="fw-6 c-txt-3">$1,500</span><span style="font-size: .8em">/month</span></span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5">Income: <span class="fw-6 c-txt-3">$1,000</span><span style="font-size: .8em">/year</span></span></div>
                                      </div>
                                      <div class="pro-des">471 Tam Oshanter Dr SE, Marietta, GA, 30067</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="swiper-slide col">
                                  <div class="pro-wr"> 
                                    <div class="pro-img"> 
                                      <div class="pro-time">2 ngày trước</div>
                                      <div class="pro-type">Nhà hàng</div><a class="inner" href="#"> <img src="./assets/images/pro-1.jpg" alt=""/></a>
                                    </div>
                                    <div class="pro-content">
                                      <div class="pro-top"> 
                                        <h3 class="pro-name">$500,000
                                          <div class="pro-tag">Thương lượng</div>
                                        </h3>
                                      </div>
                                      <div class="pro-note">
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">6 tables</span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">6 chairs</span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">11,300 sqft</span></div>
                                      </div>
                                      <div class="pro-note">
                                        <div class="pro-note-item"> <span class="txt fw-5">Rent: <span class="fw-6 c-txt-3">$1,500</span><span style="font-size: .8em">/month</span></span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5">Income: <span class="fw-6 c-txt-3">$1,000</span><span style="font-size: .8em">/year</span></span></div>
                                      </div>
                                      <div class="pro-des">471 Tam Oshanter Dr SE, Marietta, GA, 30067</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="swiper-slide col">
                                  <div class="pro-wr"> 
                                    <div class="pro-img"> 
                                      <div class="pro-time">2 ngày trước</div>
                                      <div class="pro-type">Nhà hàng</div><a class="inner" href="#"> <img src="./assets/images/pro-1.jpg" alt=""/></a>
                                    </div>
                                    <div class="pro-content">
                                      <div class="pro-top"> 
                                        <h3 class="pro-name">$500,000
                                          <div class="pro-tag">Thương lượng</div>
                                        </h3>
                                      </div>
                                      <div class="pro-note">
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">6 tables</span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">6 chairs</span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">11,300 sqft</span></div>
                                      </div>
                                      <div class="pro-note">
                                        <div class="pro-note-item"> <span class="txt fw-5">Rent: <span class="fw-6 c-txt-3">$1,500</span><span style="font-size: .8em">/month</span></span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5">Income: <span class="fw-6 c-txt-3">$1,000</span><span style="font-size: .8em">/year</span></span></div>
                                      </div>
                                      <div class="pro-des">471 Tam Oshanter Dr SE, Marietta, GA, 30067</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="swiper-slide col">
                                  <div class="pro-wr"> 
                                    <div class="pro-img"> 
                                      <div class="pro-time">2 ngày trước</div>
                                      <div class="pro-type">Nhà hàng</div><a class="inner" href="#"> <img src="./assets/images/pro-1.jpg" alt=""/></a>
                                    </div>
                                    <div class="pro-content">
                                      <div class="pro-top"> 
                                        <h3 class="pro-name">$500,000
                                          <div class="pro-tag">Thương lượng</div>
                                        </h3>
                                      </div>
                                      <div class="pro-note">
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">6 tables</span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">6 chairs</span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">11,300 sqft</span></div>
                                      </div>
                                      <div class="pro-note">
                                        <div class="pro-note-item"> <span class="txt fw-5">Rent: <span class="fw-6 c-txt-3">$1,500</span><span style="font-size: .8em">/month</span></span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5">Income: <span class="fw-6 c-txt-3">$1,000</span><span style="font-size: .8em">/year</span></span></div>
                                      </div>
                                      <div class="pro-des">471 Tam Oshanter Dr SE, Marietta, GA, 30067</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="swiper-slide col">
                                  <div class="pro-wr"> 
                                    <div class="pro-img"> 
                                      <div class="pro-time">2 ngày trước</div>
                                      <div class="pro-type">Nhà hàng</div><a class="inner" href="#"> <img src="./assets/images/pro-1.jpg" alt=""/></a>
                                    </div>
                                    <div class="pro-content">
                                      <div class="pro-top"> 
                                        <h3 class="pro-name">$500,000
                                          <div class="pro-tag">Thương lượng</div>
                                        </h3>
                                      </div>
                                      <div class="pro-note">
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">6 tables</span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">6 chairs</span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5 c-txt-2">11,300 sqft</span></div>
                                      </div>
                                      <div class="pro-note">
                                        <div class="pro-note-item"> <span class="txt fw-5">Rent: <span class="fw-6 c-txt-3">$1,500</span><span style="font-size: .8em">/month</span></span></div>
                                        <div class="pro-note-item"> <span class="txt fw-5">Income: <span class="fw-6 c-txt-3">$1,000</span><span style="font-size: .8em">/year</span></span></div>
                                      </div>
                                      <div class="pro-des">471 Tam Oshanter Dr SE, Marietta, GA, 30067</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="popdt-side col"> 
                      <div class="wrapper"> 
                        <div class="popdt-contact"> 
                          <p class="tt">Liên hệ:</p>
                          <p class="des">Darynda Jenkins</p>
                          <div class="popdt-address"> <a class="link" href=""> <img src="./assets/images/ic-send.svg" alt=""/><span class="txt">keller@gmail.com</span></a><a class="link" href=""> <img src="./assets/images/ic-phone.svg" alt=""/><span class="txt">012345667</span></a></div>
                        </div>
                        <div class="popdt-map"> 
                          <div class="iframe"> 
                            <iframe referrerpolicy="no-referrer-when-downgrade" loading="lazy" allowfullscreen="" style="border:0;" height="450" width="600" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2654293242267!2d106.6535495758385!3d10.790971358923679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed189fa855d%3A0xf63e15bfce46baef!2sC%C3%B4ng%20ty%20TNHH%20-%20MONA%20MEDIA!5e0!3m2!1svi!2s!4v1732719275356!5m2!1svi!2s"></iframe>
                          </div>
                        </div>
                        <div class="popdt-share"> <span class="txt">Share this listing:</span>
                          <div class="social"> 
                            <div class="social-list"> <a class="social-link" href=""><img src="./assets/images/ic-fb.svg" alt=""/></a><a class="social-link" href=""><img src="./assets/images/ic-x.svg" alt=""/></a></div>
                          </div>
                        </div>
                        <div class="pro-bner"> 
                          <div class="pro-bner-dc"><img src="./assets/images/pro-bner-dc.png" alt=""/>
                          </div>
                          <div class="pro-bner-img"><img src="./assets/images/pro-bner-img.jpg" alt=""/>
                          </div>
                          <div class="pro-bner-content"> 
                            <h3 class="pro-bner-name">Chăm sóc người lớn tuổi</h3>
                            <p class="pro-bner-des">Dịch vụ tận tình, nhân viên chu đáo</p>
                            <div class="pro-btn"> <span class="txt">Khám phá ngay</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="ft"> 
      <div class="container"> 
        <div class="ft-wrap"> 
          <div class="ft-head"> 
            <div class="ft-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.svg" alt=""/></a></div>
            <div class="t-slogan"><span class="t-text">
                 Cổng thông tin <span class="fw-7 c-pri">
                   MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
          </div>
          <div class="ft-nav">
            <ul class="menu"> 
              <li><a href="">VIỆC LÀM</a></li>
              <li><a href="">MUA CỬA TIỆM</a></li>
              <li><a href="">VIỆT EVENTS</a></li>
              <li><a href="">THUÊ NHÀ</a></li>
              <li><a href="">MUA NHÀ</a></li>
              <li><a href="">RAO VẶT</a></li>
              <li><a href="">LIÊN HỆ QUẢNG CÁO</a></li>
            </ul>
          </div>
          <div class="ft-sc"> 
            <div class="social"> 
              <div class="social-list"> <a class="social-link" href=""> <img src="./assets/images/ic-fb.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-yt.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-ins.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-x.svg" alt=""/></a></div>
            </div>
          </div>
          <div class="ft-panel"> 
            <div class="ft-list row"> 
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> LIÊN HỆ HỢP TÁC</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:contact@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> LIÊN HỆ QUẢNG CÁO</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:ads@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> HỖ TRỢ KỸ THUẬT</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:admin@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ft-bank"> 
            <div class="i-list"><a class="i-link" href=""><img src="./assets/images/icon-bank (1).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (2).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (3).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (4).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (5).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (6).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (7).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (8).svg" alt=""/></a>
            </div>
          </div>
          <div class="ft-bot">
            <div class="ft-nav"> 
              <ul class="menu">
                <li> <a href="">Privacy Policy</a></li>
                <li> <a href="">Terms of Service </a></li>
                <li> <a href="">Ads Service Agreement</a></li>
              </ul>
            </div><span class="t-text">
                Designed by Qixtech - Web Design & Digital Marketing</span><span class="t-text">
               Copyright © 2024. VietInfo LLC. All Right Reserved. </span>
          </div>
        </div>
      </div>
    </footer>
    <div class="fixed-side">
      <div class="fchat"> <a class="i-link" href=""><img src="./assets/images/icon-mess2.svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-mess.svg" alt=""/></a></div>
      <div class="back-to-top backToTop">
        <div class="icon fa-solid fa-arrow-up"></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/splide/splide-auto-scroll.js"></script>
    <script src="./assets/library/splide/splide.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./assets/library/datetime/moment.min.js"></script>
    <script src="./assets/library/datetime/daterangepicker.min.js"></script>
    <script src="./assets/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./assets/library/splitting/splitting.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./assets/library/trimline/jquery.trimLines.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v17.0"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>