<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Privacy Policy</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body class="page-terms-conditions">
    <header class="hd"> 
      <div class="container"> 
        <div class="hd-wrap"> 
          <div class="hd-top">
            <div class="home-bn-srch">
              <form action="">
                <div class="home-bn-srch-box">
                  <div class="sl"> 
                    <select class="re-select-main" name="" data-placeholder="Danh mục"> 
                      <option value=""> Danh mục</option>
                      <option value="1"> Danh mục 1</option>
                      <option value="2"> Danh mục 2</option>
                      <option value="3"> Danh mục 3</option>
                    </select>
                  </div>
                  <div class="ip"> 
                    <div class="ip-wrap"><img src="./assets/images/ic-pin.svg" alt=""/>
                      <input type="text" placeholder="State, city, ZIP code">
                    </div>
                    <button class="ip-icon"><img src="./assets/images/ic-srch.svg" alt=""/>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="b-gr"> 
              <div class="hd-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.svg" alt=""/></a></div>
              <div class="hd-noti t-slogan"><span class="t-text">
                   Cổng thông tin <span class="fw-7 c-pri">
                     MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
              <div class="hd-ctr"> 
                <div class="hd-lang"> <span class="i-ar"><i class="fa-light fa-chevron-down"></i></span><span class="t-text">
                     VN </span>
                  <div class="lang-pos"> <a class="t-text" href="">EN </a></div>
                </div><a class="btn" href=""><span class="inner">Đăng tin miễn phí</span><i></i></a>
                <div class="hd-burger" id="hamburger"> 
                  <div class="burger"> 
                    <div class="hamburger"> 
                      <div class="line"> </div>
                      <div class="line"></div>
                      <div class="line"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hd-bot">
            <div class="b-gr"> 
              <div class="hd-nav">
                <div class="menu-nav"> 
                  <ul class="menu-list">
                    <li class="menu-item"> <a class="menu-link" href="">Việc làm</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Mua cửa tiệm</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Việt Event</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Thuê nhà</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Mua nhà</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Rao vặt</a></li>
                  </ul>
                </div>
              </div><a class="btn-noti" href=""> <span class="icon"> <img src="./assets/images/icon-noti.svg" alt=""/></span><span class="t-text">
                   Quảng cáo trên VietInfo</span></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="mobile-overlay"></div>
    <div class="mobile">
      <div class="mobile-con">
        <div class="mobile-wr">
          <div class="mobile-nav">
            <div class="menu-nav">
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link" href="">Việc làm</a></li>
                <li class="menu-item"><a class="menu-link" href="">Mua cửa tiệm</a></li>
                <li class="menu-item"><a class="menu-link" href="">Việt Event</a></li>
                <li class="menu-item"><a class="menu-link" href="">Thuê nhà</a></li>
                <li class="menu-item"><a class="menu-link" href="">Mua nhà</a></li>
              </ul>
            </div>
          </div>
          <div class="mobile-content"><a class="btn-noti" href=""> <span class="icon"> <img src="./assets/images/icon-noti.svg" alt=""/></span><span class="t-text">
                 Quảng cáo trên VietInfo</span></a><a class="btn full" href=""><span class="inner">Đăng tin miễn phí</span><i></i></a>
            <div class="hd-noti"> <span class="t-text">
                 Cổng thông tin <span class="fw-7 c-pri">
                   MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
          </div>
        </div>
      </div>
    </div>
    <main class="main">
      <div class="terms-page">
        <div class="breadcrumb"> 
          <div class="container">
            <ul class="breadcrumb-list">
              <li class="breadcrumb-item" data-aos="fade-right"><a class="breadcrumb-link" href="">Trang chủ</a></li>
              <li class="breadcrumb-item" data-aos="fade-right"><a class="breadcrumb-link" href="">Privacy</a></li>
            </ul>
          </div>
        </div>
        <section class="terms-conditions"></section>
        <div class="terms-banner">
          <div class="bg-banner"></div>
          <div class="terms-banner-content"><span class="wave"><img src="./assets/images/wave-bn-term.png" alt=""/></span>
            <div class="container">
              <div class="text-banner-wrapper">
                <div class="text-banner">
                  <h1 class="title">
                     Website <br>Terms of Use</h1>
                  <p class="desc">
                     We value your <br>privacy</p>
                </div>
                <div class="banner-decor"><img src="./assets/images/banner-girl.png" alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container seciton-content">
          <div class="head dcor">
            <h2 class="t-title"> Legal information</h2>
            <p class="t-des"> Last updated: October 18, 2024</p>
          </div>
          <div class="terms-tab">
            <div class="pro-fil selectJS">
              <div class="pro-fil-head selectJSHead"><span class="txt selectJSTxt"></span><i class="fas fa-angle-down"></i></div>
              <ul class="selectJSBody">
                <li> <a class="pro-fil-link selectJSItem" href=""> <img src="./assets/images/check-verified.svg" alt=""/>Terms & Conditions</a></li>
                <li> <a class="pro-fil-link selectJSItem active" href=""><img src="./assets/images/ic-security.svg" alt=""/>Privacy Policy</a></li>
                <li> <a class="pro-fil-link selectJSItem" href=""><span class="cookie"><img src="./assets/images/ic-cookie.svg" alt=""/></span>Cookies Policy</a></li>
                <li> <a class="pro-fil-link selectJSItem" href=""><img src="./assets/images/ic-wallet.svg" alt=""/>Adverting Service Agreement  </a></li>
              </ul>
            </div>
          </div>
          <div class="terms-content mona-content">
            <p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
            <p>We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Policy.</p>
            <div class="terms-box-list">
              <div class="terms-box">
                <div class="terms-box-title">→ Interpretation</div>
                <div class="terms-box-des">
                  <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Definitions</div>
                <div class="terms-box-des">
                  <p>For the purposes of these Terms and Conditions:</p>
                  <ul>
                    <li>Affiliate means an entity that controls, is controlled by or is under common control with a party, where "control" 	means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.</li>
                    <li>Country refers to: United States</li>
                    <li>Company (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to Vietinfo LLC.</li>
                    <li>Device means any device that can access the Service such as a computer, a cellphone or a digital tablet.</li>
                    <li>Service refers to the Website and/or advertisement on the VietInfo.US Website.</li>
                    <li>Terms and Conditions (also referred as "Terms") mean these Terms and Conditions that form the entire agreement between You and the Company regarding the use of the Service.</li>
                    <li>Third-party Social Media Service means any services or content (including data, information, products or services) provided by a third-party that may be displayed, included or made available by the Service.</li>
                    <li>Website refers to VietInfo, accessible from https://vietinfo.us</li>
                    <li>You means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Collecting and Using Your Personal Data</div>
                <div class="terms-box-des">
                  <p>Types of Data Collected:</p>
                  <ul>
                    <li>Personal Data
                      <p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:
                        <ul>
                          <li>Email address</li>
                          <li>First name and last name</li>
                          <li>Phone number</li>
                          <li>Address, State, Province, ZIP/Postal code, City</li>
                          <li>Usage Data</li>
                        </ul>
                      </p>
                    </li>
                    <li>Usage Data
                      <ul> 
                        <li>Usage Data is collected automatically when using the Service.</li>
                        <li>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</li>
                        <li>When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</li>
                        <li>We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</li>
                      </ul>
                    </li>
                    <li>Infomation from Third-Party Social Media Services
                      <ul>
                        <li>The Company allows You to create an account and log in to use the Service through the following Third-party Social Media Services:
                          <ul>
                            <li>Google</li>
                            <li>Facebook</li>
                            <li>Instagram</li>
                            <li>Twitter</li>
                            <li>LinkedIn</li>
                          </ul>
                        </li>
                        <li>If You decide to register through or otherwise grant Us access to a Third-Party Social Media Service, We may collect Personal data that is already associated with Your Third-Party Social Media Service's account, such as Your name, Your email address, Your activities or Your contact list associated with that account.</li>
                        <li>You may also have the option of sharing additional information with the Company through Your Third-Party Social Media Service's account. If You choose to provide such information and Personal Data, during registration or otherwise, You are giving the Company permission to use, share, and store it in a manner consistent with this Privacy Policy.</li>
                      </ul>
                    </li>
                    <li>Tracking Technologies and Cookies</li>
                  </ul>
                  <p>We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service. The technologies We use may include:</p>
                  <ul>
                    <li>We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service.</li>
                    <li>You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, You may not be able to use some parts of our Service.</li>
                    <li>Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies remain on Your personal computer or mobile device when You go offline, while Session Cookies are deleted as soon as You close Your web browser.</li>
                    <li>We use both session and persistent Cookies for the purposes set out below:
                      <ul>
                        <li>Necessary / Essential Cookies
                          <ul>
                            <li>Type: Session Cookies</li>
                            <li>Administered by: Us</li>
                            <li>Purpose: These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for cannot be provided, and We only use these Cookies to provide You with those services.</li>
                          </ul>
                        </li>
                        <li>Cookies Policy / Notice Acceptance Cookies
                          <ul>
                            <li>Type: Persistent Cookies</li>
                            <li>Administered by: Us</li>
                            <li>Purpose: These Cookies identify if users have accepted the use of cookies on the Website.</li>
                          </ul>
                        </li>
                        <li>Functionality Cookies
                          <ul>
                            <li>Type: Persistent Cookies</li>
                            <li>Administered by: Us</li>
                            <li>Purpose: These Cookies allow us to remember choices You make when You use the Website, such as remembering your login details or language preference. The purpose of these Cookies is to provide You with a more personal experience and to avoid You having to re-enter your preferences every time You use the Website.</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <p>For more information about the cookies we use and your choices regarding cookies, please visit our Cookies Policy or the Cookies section of our Privacy Policy.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Retention of Your Personal Data</div>
                <div class="terms-box-des">
                  <ul> 
                    <li>The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</li>
                    <li>The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of Our Service, or We are legally obligated to retain this data for longer time periods.</li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Transfer of Your Personal Data</div>
                <div class="terms-box-des">
                  <ul> 
                    <li>Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the parties involved in the processing are located. It means that this information may be transferred to — and maintained on — computers located outside of Your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.</li>
                    <li>Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.</li>
                    <li>The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with this Privacy Policy and no transfer of Your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of Your data and other personal information.</li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Delete Your Personal Data</div>
                <div class="terms-box-des">
                  <ul> 
                    <li>You have the right to delete or request that We assist in deleting the Personal Data that We have collected about You.</li>
                    <li>Our Service may give You the ability to delete certain information about You from within the Service.</li>
                    <li>You may update, amend, or delete Your information at any time by signing in to Your Account, if you have one, and visiting the account settings section that allows you to manage Your personal information. You may also contact Us to request access to, correct, or delete any personal information that You have provided to Us.</li>
                    <li>Please note that We may need to retain certain information for recordkeeping purposes or to complete transactions, or when required by law.</li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Disclosure of Your Personal Data</div>
                <div class="terms-box-des">
                  <ul> 
                    <li>Business Transactions: If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</li>
                    <li>Law enforcement: Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</li>
                    <li>Other legal requirements: The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:
                      <ul> 
                        <li>Comply with a legal obligation</li>
                        <li>Protect and defend the rights or property of the Company</li>
                        <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
                        <li>Protect the personal safety of Users of the Service or the public</li>
                        <li>Protect against legal liability</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Security of Your Personal Data</div>
                <div class="terms-box-des">
                  <p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot guarantee its absolute security.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Children's Privacy</div>
                <div class="terms-box-des">
                  <ul> 
                    <li>Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from anyone under the age of 13. If You are a parent or guardian and You are aware that Your child has provided Us with Personal Data, please contact Us. If We become aware that We have collected Personal Data from anyone under the age of 13 without verification of parental consent, We take steps to remove that information from Our servers.</li>
                    <li>If We need to rely on consent as a legal basis for processing Your information and Your country requires consent from a parent, We may require Your parent's consent before We collect and use that information.</li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Links to Other Websites</div>
                <div class="terms-box-des">
                  <ul> 
                    <li>Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, You will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit.</li>
                    <li>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Changes to this Privacy Policy</div>
                <div class="terms-box-des">
                  <p>These Terms and Conditions may have been translated if We have made them available to You on our Service. You agree that the original English text shall prevail in the case of a dispute.</p>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Changes to These Terms and Conditions</div>
                <div class="terms-box-des">
                  <ul> 
                    <li>We reserve the right, at Our sole discretion, to modify or replace these Terms at any time. If a revision is material We will make reasonable efforts to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at Our sole discretion.</li>
                    <li>By continuing to access or use Our Service after those revisions become effective, You agree to be bound by the revised terms. If You do not agree to the new terms, in whole or in part, please stop using the website and the Service.</li>
                  </ul>
                </div>
              </div>
              <div class="terms-box">
                <div class="terms-box-title">→ Contact Us</div>
                <div class="terms-box-des">
                  <p>If you have any questions about these Terms and Conditions, You can contact us by email: admin@vietinfo.us</p>
                </div>
              </div>
            </div>
          </div>
          <div class="terms-footer mona-content">
            <div class="line"> </div>
            <div class="content"> 
              <p>By using the Website and Service, you agree to abide by these Terms and Conditions. These Terms and Conditions may be updated by VietInfo at any time, and the latest version will be made available on our website. It is the Client's responsibility to review these terms periodically for any changes.</p>
              <p>If you have any questions or concerns regarding these Terms and Conditions, please contact VietInfo at admin@vietinfo.us.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="ft"> 
      <div class="container"> 
        <div class="ft-wrap"> 
          <div class="ft-head"> 
            <div class="ft-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.svg" alt=""/></a></div>
            <div class="t-slogan"><span class="t-text">
                 Cổng thông tin <span class="fw-7 c-pri">
                   MIỄN PHÍ </span>dành cho cộng đồng người Việt tại Mỹ</span></div>
          </div>
          <div class="ft-nav">
            <ul class="menu"> 
              <li><a href="">VIỆC LÀM</a></li>
              <li><a href="">MUA CỬA TIỆM</a></li>
              <li><a href="">VIỆT EVENTS</a></li>
              <li><a href="">THUÊ NHÀ</a></li>
              <li><a href="">MUA NHÀ</a></li>
              <li><a href="">RAO VẶT</a></li>
              <li><a href="">LIÊN HỆ QUẢNG CÁO</a></li>
            </ul>
          </div>
          <div class="ft-sc"> 
            <div class="social"> 
              <div class="social-list"> <a class="social-link" href=""> <img src="./assets/images/ic-fb.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-yt.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-ins.svg" alt=""/></a><a class="social-link" href=""> <img src="./assets/images/ic-x.svg" alt=""/></a></div>
            </div>
          </div>
          <div class="ft-panel"> 
            <div class="ft-list row"> 
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> LIÊN HỆ HỢP TÁC</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:contact@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> LIÊN HỆ QUẢNG CÁO</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:ads@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
              <div class="col col-4">
                <div class="ft-box"> 
                  <div class="b-inner"> <span class="t-text"> HỖ TRỢ KỸ THUẬT</span>
                    <div class="b-gr"> <a class="t-link" href="">Email:admin@vietinfo.us </a><a class="t-link" href="">Phone:678 408 2288 </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ft-bank"> 
            <div class="i-list"><a class="i-link" href=""><img src="./assets/images/icon-bank (1).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (2).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (3).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (4).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (5).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (6).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (7).svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-bank (8).svg" alt=""/></a>
            </div>
          </div>
          <div class="ft-bot">
            <div class="ft-nav"> 
              <ul class="menu">
                <li> <a href="">Privacy Policy</a></li>
                <li> <a href="">Terms of Service </a></li>
                <li> <a href="">Ads Service Agreement</a></li>
              </ul>
            </div><span class="t-text">
                Designed by Qixtech - Web Design & Digital Marketing</span><span class="t-text">
               Copyright © 2024. VietInfo LLC. All Right Reserved. </span>
          </div>
        </div>
      </div>
    </footer>
    <div class="fixed-side">
      <div class="fchat"> <a class="i-link" href=""><img src="./assets/images/icon-mess2.svg" alt=""/></a><a class="i-link" href=""><img src="./assets/images/icon-mess.svg" alt=""/></a></div>
      <div class="back-to-top backToTop">
        <div class="icon fa-solid fa-arrow-up"></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/splide/splide-auto-scroll.js"></script>
    <script src="./assets/library/splide/splide.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./assets/library/datetime/moment.min.js"></script>
    <script src="./assets/library/datetime/daterangepicker.min.js"></script>
    <script src="./assets/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./assets/library/splitting/splitting.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./assets/library/trimline/jquery.trimLines.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v17.0"></script>
    <script src="./assets/library/froala_editor/js/froala_editor.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/emoticons.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/align.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/font_family.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/font_size.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/image.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/link.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/lists.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/file.min.js"></script>
    <script src="./assets/library/froala_editor/js/plugins/table.min.js"></script>
    <script src="./assets/library/dropzone/dropzone.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>