.back-to-top {
  width: 5rem;
  height: 5rem;
  border-radius: 100rem;
  background: var(--color-white);
  box-shadow: 0px 0.2rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateX(3rem);
  opacity: 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-pri);
  @include hover {
    background: var(--color-pri);
    color: #fff;
  }
  @include max(768px) {
    width: 3.6rem;
    height: 3.6rem;
  }
  .icon {
    width: 2.4rem;
    height: 2.4rem;
    @include mid-flex;
    font-size: 2rem;
  }

  &.active {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }

  .triangle {
    display: block;
    width: 0;
    height: 0;
    z-index: 2;
    border: 8px solid transparent;
    border-bottom: 6px solid #fff;
    margin-top: -6px;
    border-radius: 5px;

    &:nth-child(1) {
      animation: BTT 1.5s linear 0.6s infinite;
    }

    &:nth-child(2) {
      animation: BTT 1.5s linear 0.3s infinite;
    }

    &:nth-child(3) {
      animation: BTT 1.5s linear 0s infinite;
    }
  }

  &:hover {
    @media only screen and (min-width: 901px) {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      // background-color: $c-yel;
    }
  }
}
.fixed-side {
  position: fixed;
  bottom: 6rem;
  right: 3rem;
  z-index: 7;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include max(768px) {
    right: 1.5rem;
  }
}
.fchat {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .i-link {
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0.2rem 1rem rgba(0, 0, 0, 0.1);
    @include max(768px) {
      width: 3.6rem;
      height: 3.6rem;
    }
    @include hover {
      transform: scale(0.9);
    }
  }
}
