.hd-burger {
  padding: 0.7rem;
  transition: 0.3s ease-in-out;
  @include min(1023px) {
    display: none;
  }

  &.active .line:nth-child(1) {
    transform: translate3d(0, 0.7rem, 0) rotate(45deg) !important;
  }

  &.active .line:nth-child(3) {
    transform: translate3d(0, -0.7rem, 0) rotate(135deg) !important;
    width: 2.6rem;
  }
  &.active {
    .line {
      background: var(--color-pri);
    }
  }

  &.active .line:nth-child(2) {
    opacity: 0;
  }

  cursor: pointer;
}

.burger {
  position: relative;
}

.burger .line {
  width: 2.6rem;
  height: 0.2rem;
  border-radius: 0.4rem;
  background: #222222;
  display: block;
  margin: 0.5rem 0;
  transition: 0.3s ease-in-out;
  transform-origin: 50% 50%;
  &:last-child {
    width: 2rem;
    margin-left: auto;
  }
}
