// --------------------------------------
.mobile {
  position: fixed;
  z-index: 140;
  top: var(--size-hd);
  left: 0;
  bottom: 0;
  min-width: 35rem;
  width: 35rem;
  background-color: white;
  @include transition(0.4s, linear);
  transform: translateX(-110%);
  overflow: hidden;
  @include max($mobile) {
    width: 100%;
    min-width: initial;
  }

  &.sticky {
    --size-hd: 5.4rem;
  }

  &.open {
    transform: translateX(0);
  }

  @include min(1201px) {
    display: none;
  }

  &-con {
    width: 100%;
    height: 100%;
    @include flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &-overlay {
    @include full-fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    @include transition(0.6s, ease);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-110%);
    top: var(--size-hd);

    &.sticky {
      --size-hd: 5.4rem;
    }

    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }

    @include min(1201px) {
      display: none;
    }
  }

  &-wr {
    padding-bottom: 6rem;
    position: relative;
    height: 100%;
  }

  &-list {
    margin-bottom: 2rem;
  }

  &-content {
    padding: 2.4rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    .hd-noti {
      display: block;
      position: static;
      transform: unset;
      width: 100%;
      text-align: left;
      color: var(--color29);
      padding: 0 1.6rem;
    }
    .btn-noti {
      padding: 0 1.6rem;
      .icon {
        width: 4.8rem;
        height: 4.8rem;
        img {
          width: 3.2rem;
        }
      }
    }
  }
}
