::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f8f8f8;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: gray;
}

/* Handle on hover */
