.select2-container {
  height: 5rem;
  background-color: transparent;
  //   border-radius: 15rem;
}

.select2.select2-container {
  width: 100% !important;
}

.selection {
  width: 100%;
}

.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 0.5rem !important;
  color: var(--color-white);
  height: 5rem;
  background-color: transparent;
  border: 0.1rem solid var(--border-color);
  @include flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.select2.select2-container .select2-selection--multiple {
  height: auto;
  min-height: 34px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  background-color: transparent;
  border: 1px solid transparent;
  color: #1d2939;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline !important;
  @include lc(1);
  width: 100%;
}

.select2.select2-container
  .select2-selection--multiple
  .select2-selection__rendered {
  display: block;
  padding: 0 4px;
  padding-left: 1.4rem;
}

.select2-container .select2-dropdown {
  background: transparent;
  border: 0.1rem solid var(--border-color);
}

.select2-container .select2-dropdown .select2-search {
  padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none !important;
  border: none;
  border-bottom: none !important;
  padding: 4px 6px !important;
  background-color: var(--color-black);
  color: var(--color-black);
}

.select2-container .select2-dropdown .select2-results ul {
  background: var(--color-white);
  color: var(--color-black);
}

.select2-container
  .select2-dropdown
  .select2-results
  ul
  .select2-results__option--highlighted[aria-selected] {
  background-color: var(--color-pri);
  font-size: 1.6rem;
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--color-pri);
  color: var(--color-white);
  font-size: 1.6rem;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100%;
  border-color: #000 transparent transparent transparent;
}

.select2-search.select2-search--dropdown {
  display: none !important;
}

.select2-results__option {
  font-size: 1.6rem;
}

.select2-results {
  display: block;
  border-radius: unset !important;
  overflow: hidden;
}

.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single {
  border-radius: unset !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  //   padding-right: 1.6rem;
  font-weight: 600;
  color: #1d2939;
  padding-left: 3.4rem;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: var(--color-text);
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  margin: 0;
  top: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  transform: translate(-50%, -50%);
  background-image: url("../assets/images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  left: 0;
  right: unset;
  width: 36px;
}
.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
}
.select2-container
  .select2-dropdown
  .select2-results
  ul
  .select2-results__option--highlighted[aria-selected] {
  font-size: 1.6rem;
}
