.hd-nav {
  height: 100%;

  @include max(1200px) {
    display: none;
  }

  .menu {
    &-nav {
      height: 100%;
      @include font-second;

      >.menu-list {
        height: 100%;

        //   margin: 0 -2.4rem;
        >.menu-item {
          height: 100%;
          @include flex;
          align-items: center;

          &:last-child {
            >.menu-list {
              left: initial;
              right: 0;
            }
          }

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            @include posi-horizontal;
            height: 0.2rem;
            background: var(--color-pri);
            width: 0;
            @include transitionRe;
          }

          &::after {
            content: "";
            position: absolute;
            width: 0.1rem;
            height: 3.2rem;
            background: #d0d5dd;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
          }

          &:hover:not(.dropdown),
          &:has(.current-menu-item) {
            &::before {
              width: calc(100% - 4.8rem);
            }
          }

          &.dropdown {
            &:hover {
              &::before {
                width: 0;
              }
            }
          }

          &:hover {
            >a {
              color: var(--color-pri);

              i {
                transform: rotate(180deg);
                color: var(--color-pri);
              }
            }
          }

          >.menu-link {
            height: 100%;
            @include flex;
            align-items: center;
            color: var(--color2c);
            padding: 0.8rem 2.4rem;
            font-size: 1.6rem;
            font-weight: 500;
          }

          &.current_page_item,
          &.current-menu-item,
          //  &.current_page_parent,
          &.current-menu-parent,
          &.current-post-parent {
            >a {
              color: var(--color-pri);
            }

            &::before {
              width: calc(100% - 4.8rem);
            }
          }

          >.menu-list {
            transform: translateX(-50%);
            top: calc(100%);
          }
        }
      }
    }

    &-list {
      @include flex;
      align-items: center;
    }

    &-item {
      position: relative;
      @include transition(0.2s, ease-in-out);

      &:hover {
        >.menu-list {
          @include show;

          >.menu-item {

            &.current_page_item,
            &.current-menu-item {
              >a {
                color: var(--color-pri);

                &::after {
                  height: 100%;
                }

                //  color: $color-pri;
              }
            }
          }
        }
      }

      .menu-link,
      a {
        @include transition(0.2s, ease-in-out);

        i {
          @include transition(0.2s, ease-in-out);
        }
      }

      >.menu-link,
      >a {
        color: var(--color2c);
        font-weight: 400;
        display: block;
        font-size: 1.6rem;
        //   text-transform: uppercase;

        >i {
          display: none;
          font-weight: 600;
          margin-left: 0.4rem;
          font-size: 1.4rem;
          //  color: var(--color-white);
        }
      }

      &.dropdown {
        >a {
          >i {
            display: block;
          }
        }
      }

      >.menu-list {
        position: absolute;
        top: 0;
        left: 50%;
        min-width: 20rem;
        max-width: 23rem;
        @include flex;
        flex-direction: column;
        align-items: flex-start;
        background: #fff;
        @include transitionRe;
        @include hidden(-50%, 5px);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 0.3rem 1.2rem 0px;

        >.menu-item {
          margin-left: 0;
          width: 100%;

          //  &:not(:last-child) {
          //    border-bottom: 0.1rem solid rgba($color: white, $alpha: 0.5);
          //  }
          &:hover {
            &::after {
              opacity: 1;
            }

            >.menu-link,
            >a {
              color: var(--color-pri);
              background: #d4eef9;

              &::after {
                height: 100%;
              }

              >i {
                //  color: $color-pri;
              }
            }
          }

          >.menu-link,
          >a {
            padding: 0.8rem 1.6rem;
            @include flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            color: var(--color2c);
            transition: 0.3s ease-in-out;

            &::after {
              @include pseudo;
              @include posi-vertical;
              height: 0%;
              background: var(--color-pri);
              width: 0.3rem;
              z-index: 1;
              left: 0;
              transition: all 0.4s ease-in-out;
            }

            >i {
              transform: rotate(-90deg) translate(5px, 0);
              margin-top: 0.8rem;
              font-size: 1rem;
            }
          }

          >.menu-list {
            left: 100%;
          }
        }
      }
    }
  }
}

.mobile-nav {
  .menu {
    &-nav {
      >.menu-list {
        >.menu-item {

          &.current_page_item,
          &.current-menu-item,
          //  &.current_page_parent,
          &.current-menu-parent,
          &.current-post-parent {
            >a {
              color: var(--color-pri);
              padding-left: 3rem;

              &::after {
                opacity: 1;
              }
            }
          }

          &:has(.current-menu-item) {
            >a {
              color: var(--color-pri);
            }
          }

          >a {
            padding: 1.5rem;
            padding-left: 3rem;
            @include flex;
            justify-content: space-between;
            align-items: center;
            color: var(--color1e);
            font-size: 1.6rem;
            font-weight: 500;
            border-bottom: 1px solid var(--border-color);
            position: relative;

            br {
              display: none;
            }

            &::before {
              display: none;
            }
          }
        }
      }
    }

    &-item {
      &.dropdown {
        >a {
          >i {
            display: flex;
          }
        }

        &.active {
          >a {
            color: var(--color-pri);
            background: var(--colore6);
          }
        }
      }

      &.active {
        >a {
          >i {
            transform: rotate(180deg);
          }
        }
      }

      a {
        position: relative;

        i {
          width: 2rem;
          height: 2rem;
          @include mid-flex;
          display: none;
          @include transitionRe;
        }
      }

      >a {
        @include flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem;
        font-size: 1.4rem;
        color: var(--color1e);
        font-weight: 500;
      }

      >.menu-list {
        display: none;
        margin-left: 1.6rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 2rem;
          bottom: 2rem;
          left: 0;
          width: 1px;
          background-color: var(--border-color);
        }

        >.menu-item {

          &.current_page_item,
          &.current-menu-item {
            >a {
              color: var(--color-pri);
            }
          }

          &:has(.current-menu-item) {
            >a {
              color: var(--color-pri);
            }
          }
        }
      }
    }
  }
}