.admin-dashboard .admin-block {
  padding: 0;
}

.admin-das-hd {
  padding: 2rem 2.4rem;

  @include max(1250px){
    border-bottom: .1rem solid #D0D5DD;
  }
  @include max(1500px) {
    padding: 1rem;
  }

  @include max(1250px) {
    padding: 2rem 1.6rem;
  }
}

.admin-das-hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-das-left {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  @include max($mobile) {
    flex-direction: column;
    gap: 0.4rem;
    align-items: flex-start;
  }
}

.number-post {
  border-radius: 1.6rem;
  background: #eff8ff;
  color: var(--color-pri);
  padding: 0.2rem 0.8rem;
  font-size: 1.2rem;
}

.admin-das-right {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  @include max($mobile) {
    flex-direction: column-reverse;
    gap: 1.2rem;
  }
}

.admin-action {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  .note-txt {
    font-size: 1.4rem;
    color: #101828;
  }

  @include max($mobile) {
    gap: 0.8rem;
  }
}

@include max($mobile) {
  .das-cell .admin-action .note-txt {
    display: none;
  }
}

.btn.btn-delete {
  background: #d92d20;
  padding: 0.8rem 1.4rem;
  min-width: unset;
  font-size: 1.4rem;

  &::after {
    background: rgba(217, 45, 32, 0.6);
  }
}

.btn-switch {
  position: relative;
  display: inline-block;
  width: 3.6rem;
  height: 2rem;
}

.btn-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.btn-switch .control-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 1.2rem;
}

.btn-switch .control-round:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .control-round {
  background-color: var(--color-pri);
}

input:focus + .control-round {
  box-shadow: 0 0 1px var(--color-pri);
}

input:checked + .control-round:before {
  transform: translateX(1.6rem);
}

.admin-check-radio.square {
  border-radius: 0.6rem;
  border: 0.1rem solid #d0d5dd;
  background: #fff;
  width: 2rem;
  height: 2rem;

  &::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    background-color: transparent;
    display: inline-block;
    border-radius: unset;
    background-image: url("../assets/images/ic-check-radio.svg");
    @include default-background;
  }
}

.admin-check input:checked ~ .admin-check-radio.square {
  border-color: var(--color-pri);
}

.check-content {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 1.2rem;

  img {
    width: 100%;
    height: 100%;
  }

  .icon {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;

    @include max(1400px) {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  .content-txt {
    transition: all .3s ease-in-out;
    &:hover{
      .txt-title{
        color: var(--color-pri);
      }
      img{
        transform: scale(1.1, 1.1);
        filter: brightness(0) saturate(100%) invert(20%) sepia(90%) saturate(6605%) hue-rotate(215deg) brightness(88%) contrast(102%);
      }
    }
  }

  .txt-title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: #101828;

    .txt {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    img {
      flex-shrink: 0;
      width: 1.6rem;
      object-fit: contain;
      display: block !important;
    }
  }

  .txt-note {
    color: #475467;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include max($mobile) {
      font-weight: 400;
    }
  }
}

.das-cell .icon-act {
  cursor: pointer;
  display: inline-block;

  img {
    object-fit: contain;
    width: 2rem;
  }

  @include max(1250px) {
    padding: 1rem;
  }
}

.das-cell .icon-wr {
  @include min(1251px) {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    width: 100%;
  }
}

.status {
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.2rem;
  color: var(--color);
  padding: 0.2rem 0.8rem;
  // max-width: 12.3rem;

  .icon {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    background-color: var(--color);
    flex-shrink: 0;
  }

  &.active {
    --color: #027a48;
    background: #ecfdf3;
  }

  &.expired {
    --color: #667085;
    color: #344054;
    background-color: #f2f4f7;
  }

  &.required {
    --color: #f04438;
    color: #b42318;
    background-color: #fff6ed;
  }

  &.review {
    --color: #f79009;
    color: #b54708;
    background-color: #fffaeb;
  }
}

.das-table-container {
  width: 100%;

  @include min(1251px) {
    overflow: hidden;
  }
}

.das-table-header,
.das-table-row {
  @include min(1251px){
    display: grid;
  }
  @include min(1401px){
    grid-template-columns: 1fr 12.6rem 14rem 10rem 12.5rem 10rem 9.2rem 9.2rem;
  }
  border-bottom: 0.1rem solid #e0e0e0;

  @include min-max(1251px, 1400px) {
    grid-template-columns: 1fr 11rem 12rem 10rem 11rem 8.2rem 7.2rem 7.2rem;
  }
}

.das-header-cell:nth-last-child(2) {
  @include min(1251px) {
    justify-content: flex-start !important;
  }
}
.das-cell:nth-last-child(2) .icon-wr {
  @include min(1251px) {
    justify-content: flex-start !important;
    margin-left: 0.5rem;
  }
}

.das-cell {
  font-size: 1.4rem;
  word-break: break-word;

  &:first-child {
    color: #101828;
    font-weight: 500;
    transition: 0.4s;

    .icon-arr {
      @include min(1251px) {
        display: none;
      }
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 2rem);
        height: calc(100% + 2rem);
      }
    }

    > a {
      transition: inherit;
    }

    @include hover {
      & > a {
        color: var(--color-pri);
        font-weight: 700;
      }
    }
  }

  @include min(1201px) {
    min-height: 7.2rem;
  }
}

.das-cell:last-child,
.das-header-cell:last-child {
  border-right: none;
}

.das-cell:not(:first-child),
.das-header-cell:not(:first-child) {
  justify-content: center;
}

.das-table-header {
  background-color: #eff8ff;
  font-weight: bold;
  color: #475467;
  font-size: 1.4rem;
}

.das-table-row {
  &:last-child {
    border-bottom: none !important;
  }
}

.das-cell,
.das-header-cell {
  padding: 1rem;
  display: flex;
  align-items: center;
  color: #475467;
  gap: 1rem;
}

.das-cell:last-child,
.das-header-cell:last-child {
  border-right: none;
}

.das-cell:not(:first-child),
.das-header-cell:not(:first-child) {
  justify-content: center;
}

@include min(1501px) {
  .das-cell,
  .das-header-cell {
    padding: 2.4rem;
  }
}

@include max(1500px) {
  .das-cell,
  .das-header-cell {
    padding: 1rem;
  }
}

/* Màn hình nhỏ hơn 600px */
@include max(1250px) {
  .das-table-header {
    display: none; // Ẩn header
  }

  .das-table-row {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.active {
      .das-cl-head {
        .icon-arr {
          transform: rotate(180deg);
          filter: brightness(0) saturate(100%) invert(18%) sepia(40%) saturate(7133%)
            hue-rotate(214deg) brightness(93%) contrast(104%);
        }
      }
    }
  }

  .das-cl-head {
    cursor: pointer;
    font-weight: bold;
    padding: 1.2rem 1.6rem;

    .icon-arr {
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
      transition: 0.4s;
    }

    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .das-cl-body {
    display: none; // Ẩn mặc định
    flex-direction: column;
    border-top: 0.1rem solid var(--border);
  }

  .das-cl-body .das-cell {
    padding-left: 1.6rem;
    padding: 0.8rem 1.6rem;
    border-top: 0.1rem solid #ddd;
    border: none;
  }

  .das-cl-body .das-cell:first-child {
    padding-top: 1.2rem;
  }

  .das-cl-body .das-cell {
    justify-content: space-between;
    align-items: center;
    text-align: right;
    gap: 2.4rem;
    color: #475467;

    &::before {
      content: attr(data-text);
      font-weight: 700;
      font-size: 1.4rem;
      color: #475467;
      display: block;
      text-align: left;
      white-space: nowrap;
    }
  }
}

.admin-block.--custom {
  .das-table-header,
  .das-table-row {
    @include min(1401px){
      grid-template-columns: 1fr 18rem 10rem 9rem 12.5rem 10rem 11.5rem 9.2rem;
    }

    @include min-max(1251px, 1400px) {
      grid-template-columns: 1fr 18rem 10rem 8rem 11rem 8.2rem 7.2rem 7.2rem;
    }
  }
}

.admin-note {
  display: flex;
  gap: 0.8rem;
  padding: 1.6rem 2.4rem;
  border-radius: 0.5rem;
  background: #f8f9fc;
  color: var(--color-pri);
  margin-bottom: 1.6rem;

  @include max(1500px){
    padding: 1rem;
  }

  @include max(1250px){
    padding: 2rem 1.6rem;
  }

  @include min($tablet-min) {
    align-items: center;
  }

  @include max(1023px) {
    flex-direction: column;
    gap: 0.4rem;
  }

  @include max($mobile) {
    padding: 1.2rem 1.6rem;
    margin-bottom: 2.4rem;
  }
}

.tag-new {
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #eff8ff;
  background: #fec84b;
  color: #000;
  width: fit-content;
}

.admin-search.admin-block {
  padding: 2rem 2.4rem;
  margin-bottom: 1.6rem;

}

.admin-block.admin-search {
  box-shadow: unset;
  @include max(1500px){
    padding: 1rem;
  }

  @include max(1250px){
    padding: 2rem 1.6rem;
  }

  @include max($mobile){
    padding: 1.6rem;
  }
  .btn-search {
    background-color: #eff8ff;
    color: var(--color-pri);
    padding: 1.5rem 1.4rem;
    // font-weight: 600;
    min-width: 15rem;
    &::after {
      background: var(--color-pri);
    }
    @include hover {
      color: var(--color-white);
    }
  }
}

.admin-block .sear-form .form-list .col-btn {

  @include max(700px) {
    width: 100%;
  }
}

.admin-block .sear-form{
  @include max(1380px){
    .col-search{
      width: 100%;
    }
    .col-sl-md{
      width: calc(100%/3) ;
      flex: 1;
    }
    .col-btn{
      width: fit-content;
    }
  }
}

.admin-das-table{
  .table-pagi{
    @include max(768px){
      margin-top: 0;
      padding: 1.2rem;
    }
  }
}

.admin-regis-success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 2.4rem;

  @include max($res-mobile) {
    gap: 3.2rem;
  }

  @include max($tablet) {
    gap: 2.4rem;
  }
}

.admin-regis-icon {
  width: 12rem;

  @include max($mobile) {
    width: 9rem;
  }

  img {
    object-fit: contain;
  }
}

.admin-regis-title {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;

  @include max($mobile) {
    font-size: 2rem;
  }
}

.admin-regis-desc {
  font-size: 1.4rem;
}

.admin-success-hd {
  display: flex;
  padding: 1.6rem 3.2rem;
  width: 100%;
  justify-content: space-between;
  border-bottom: 0.1rem solid #e5e7eb;

  @include max($tablet) {
    padding: 1.6rem;
  }

  @include max(768px) {
    padding: 0.8rem;
  }
}

.admin-success-hd .left {
  display: flex;
  gap: 3.3rem;

  @include min(769px) {
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
  }

  @include max(768px) {
    flex-direction: column;
    gap: 0.8rem;
  }
}

.admin-success-hd .content {
  img {
    vertical-align: middle;
    width: 1.8rem;
    object-fit: contain;
  }

  .code {
    color: #6b7280;
  }
}

.admin-success-hd .content:not(:last-child) {
  position: relative;

  @include min(769px) {
    &::after {
      content: "";
      position: absolute;
      right: -1.7rem;
      height: 100%;
      width: 0.1rem;
      background: #d9d9d9;
    }
  }
}

.admin-success-middle {
  padding: 2.4rem 3.2rem;
  width: 100%;
  border-bottom: 0.1rem solid #e5e7eb;

  @include max($tablet) {
    padding: 1.6rem;
  }

  @include max(768px) {
    padding: 1.6rem 0.8rem;
  }
}

.admin-success-middle .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.admin-success-middle .left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.admin-success-middle .icon {
  width: 6.4rem;
  border-radius: 100%;

  img {
    width: 100%;
    object-fit: contain;
  }

  @include max($res-mobile) {
    width: 4.4rem;
  }

  @include max(768px) {
    display: none;
  }
}

.admin-success-middle .desc-list {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;

  @include min(769px) {
    align-items: center;
  }

  @include max(768px) {
    flex-direction: column;
  }
}

.desc-list .tag {
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  background: #f3f4f6;
  width: fit-content;
}

.admin-success-middle .bot {
  display: flex;
  justify-content: space-between;
}

.total-price .price {
  font-size: 2.4rem;

  @include max($mobile) {
    font-size: 2rem;
  }
}

.admin-success-bot {
  padding: 1.6rem 3.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4.8rem;

  @include max($tablet) {
    padding: 1.6rem;
  }

  @include max(768px) {
    padding: 1.6rem 0.8rem;
    gap: 3.2rem;
    flex-direction: column;
  }
}

.admin-success-bot .left {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -2.4rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.1rem;
    height: 70%;
    background-color: #d1d5db;

    @include max($res-mobile) {
      right: -1.6rem;
    }

    @include max(768px) {
      right: 0;
      top: unset;
      transform: unset;
      bottom: -1.6rem;
      width: 100%;
      height: 0.1rem;
    }
  }
}

.admin-success-bot .left,
.admin-success-bot .right {
  width: calc(50% - 2.4rem);

  @include max($res-mobile) {
    width: calc(50% - 1.6rem);
  }

  @include max(768px) {
    width: 100%;
  }
}

.info-user-title {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.info-user-list {
  margin-top: 0.8rem;
  color: #6b7280;
  font-size: 1.6rem;
}

.admin-success-info {
  color: #101828;
}

.btn-show-more {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .icon {
    width: 2.4rem;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.info-user-txt {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  img {
    height: 4.6rem;
    object-fit: contain;
  }
}
