header.hd 
   .container 
      .hd-wrap 
         .hd-top
            .home-bn-srch
               form(action="")
                  .home-bn-srch-box
                     .sl 
                        select(name="" class="re-select-main" data-placeholder="Danh mục") 
                           option(value="")  Danh mục
                           option(value="1")  Danh mục 1
                           option(value="2")  Danh mục 2
                           option(value="3")  Danh mục 3
                     .ip 
                        .ip-wrap
                           +img("ic-pin.svg")
                           input(type="text" placeholder="State, city, ZIP code")
                        button.ip-icon
                           +img("ic-srch.svg")
            .b-gr 
               .hd-logo 
                  a(href="").custom-logo-link
                     +img("logo.svg")
               .hd-noti.t-slogan
                  span.t-text 
                     | Cổng thông tin 
                     span.fw-7.c-pri 
                        | MIỄN PHÍ 
                     | dành cho cộng đồng người Việt tại Mỹ
               .hd-ctr 
                  .hd-lang 
                     span.i-ar
                        i.fa-light.fa-chevron-down
                     span.t-text 
                        | VN 
                     .lang-pos 
                        a(href="").t-text
                           | EN 
                  +Btn("Đăng tin miễn phí")
                  .hd-burger#hamburger 
                     .burger 
                        .hamburger  
                           .line 
                           .line
                           .line
         .hd-bot
            .b-gr 
               .hd-nav
                  .menu-nav 
                     ul.menu-list
                        li.menu-item 
                           a(href="").menu-link
                              | Việc làm
                        li.menu-item 
                           a(href="").menu-link
                              | Mua cửa tiệm
                        li.menu-item 
                           a(href="").menu-link
                              | Việt Event
                        li.menu-item 
                           a(href="").menu-link
                              | Thuê nhà
                        li.menu-item 
                           a(href="").menu-link
                              | Mua nhà
                        li.menu-item 
                           a(href="").menu-link
                              | Rao vặt
               a(href="").btn-noti 
                  span.icon 
                     +img("icon-noti.svg")
                  span.t-text 
                     | Quảng cáo trên VietInfo
   .mobile-overlay
   .mobile
      .mobile-con
         .mobile-wr
            .mobile-nav
               .menu-nav
                  ul.menu-list
                     li.menu-item
                        a.menu-link(href='')
                           | Việc làm
                     li.menu-item
                        a.menu-link(href='')
                           | Mua cửa tiệm
                     li.menu-item
                        a.menu-link(href='')
                           | Việt Event
                     li.menu-item
                        a.menu-link(href='')
                           | Thuê nhà
                     li.menu-item
                        a.menu-link(href='')
                           | Mua nhà
            .mobile-content
               a(href="").btn-noti 
                  span.icon 
                     +img("icon-noti.svg")
                  span.t-text 
                     | Quảng cáo trên VietInfo
               +Btn("Đăng tin miễn phí","","full")
               .hd-noti 
                  span.t-text 
                     | Cổng thông tin 
                     span.fw-7.c-pri 
                        | MIỄN PHÍ 
                     | dành cho cộng đồng người Việt tại Mỹ