
.fixed-side
   .fchat 
      a(href="").i-link
         +img("icon-mess2.svg")
      a(href="").i-link
         +img("icon-mess.svg")
   .back-to-top.backToTop
      .icon.fa-solid.fa-arrow-up
script(src='./assets/library/jquery/jquery.js')
script(src='./assets/library/swiper/swiper-bundle.min.js')
script(src='./assets/library/aos/aos.js')
script(src='./assets/library/splide/splide-auto-scroll.js')
script(src='./assets/library/splide/splide.js')
script(src='./assets/library/select2/select2.min.js')
script(src='./assets/library/gallery/lightgallery-all.min.js')
script(src='./assets/library/jquery/jquery-migrate.js')
script(src='./assets/library/isotope/isotope.pkgd.min.js')
script(src='./assets/library/datetime/moment.min.js')
script(src='./assets/library/datetime/daterangepicker.min.js')
script(src='./assets/library/smoothscroll/SmoothScroll.min.js')
script(src='./assets/library/splitting/splitting.min.js')
script(src='./assets/library/fancybox/fancybox.umd.js')
script(src='./assets/library/gsap/gsap.min.js')
script(src='./assets/library/gsap/ScrollTrigger.min.js')
script(src='./assets/library/trimline/jquery.trimLines.js')
script(async defer crossorigin="anonymous" src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v17.0')

script(src='./js/main.js' type='module')

