extends layout/layout

block vars
   -title = 'Home'
   -bodyClass = 'page-home'

block container 
   section.sec-home-bn 
      .home-bn 
         .bg 
            +img("bn-home.jpg")
         .container 
            .home-bn-ctn
               h1.home-bn-tt 
                  |Nâng tầm 
                  br
                  |Giá trị Việt
               .home-bn-srch
                  form(action="") 
                     .home-bn-srch-box
                        .sl 
                           select(name="" class="re-select-main" data-placeholder="Danh mục") 
                              option(value="")  Danh mục
                              option(value="1")  Danh mục 1
                              option(value="2")  Danh mục 2
                              option(value="3")  Danh mục 3
                        .ip 
                           .ip-wrap 
                              +img("ic-pin.svg")
                              input(type="text" placeholder="State, city, ZIP code")
                           +Btn("Tìm kiếm","button")
                           button.ip-icon 
                              +img("ic-srch.svg")
   section.sec-home-hero 
      .home-hero.ss-pd
         .container 
            .home-hero 
               .home-hero-tags 
                  span.home-hero-tag Sponsored
               .home-hero-left
                  .bg   
                     +img("hero-dec.png")
                  .home-hero-ctn    
                     h3.home-hero-tt Trải nghiệm xứng tầm
                     p.home-hero-des Nhà phát triển bất động sản hàng hiệu
                     .home-hero-bot 
                        +Btn("Khám phá ngay","")
                        .social 
                           .social-list 
                              a(href="").social-link 
                                 +img("ic-fb.svg") 
                              a(href="").social-link 
                                 +img("ic-yt.svg") 
                              a(href="").social-link 
                                 +img("ic-ins.svg") 
                              a(href="").social-link 
                                 +img("ic-x.svg")
               .home-hero-right 
                  +img("hero-img.jpg")
   section.sec-home-number 
      .home-number.ss-pd
         .container 
            .home-number-list.row.rows-4 
               -
                  var numbers = [
                     {
                        icon:"number1.png",
                        tt:"317,826",
                        des:"Lượt truy cập"
                     },
                     {
                        icon:"number2.png",
                        tt:"20,826",
                        des:"Tài khoản đăng ký"
                     },
                     {
                        icon:"number3.png",
                        tt:"20,826",
                        des:"Việc làm"
                     },
                     {
                        icon:"number4.png",
                        tt:"20,826",
                        des:"Bất động sản"
                     },
                     {
                        icon:"number5.png",
                        tt:"20,826",
                        des:"Cửa tiệm - nhà hàng"
                     },
                     {
                        icon:"number6.png",
                        tt:"20,826",
                        des:"Events - Sự kiện"
                     },
                     {
                        icon:"number7.png",
                        tt:"20,826",
                        des:"Rao vặt"
                     },
                     {
                        icon:"number8.png",
                        tt:"20,826",
                        des:"Businesses listing"
                     }
                  ]
               each number in numbers
                  .col
                     .home-number-item
                        .inner
                           .icon 
                              +img(number.icon)
                           h4.tt=number.tt 
                           p.des=number.des
   section.sec-home-solve 
      .home-solve.ss-pd
         .container 
            .home-solve-list.row.rows-3.gap-res
               -
                  var solves = [
                     {
                        icon:"solve1.png",
                        tt:"Thiết kế banner",
                        des:"Chúng tôi cung cấp dịch vụ thiết kế banner quảng cáo cho cá nhân và doanh nghiệp",
                     },
                     {
                        icon:"solve2.png",
                        tt:"Thiết kế website",
                        des:"Với 15+ năm kinh nghiệm chúng tôi thiết kế customize Website chuẩn SEO chuyên nghiệp cho doanh nghiệp",
                     },
                     {
                        icon:"solve3.png",
                        tt:"Digital Marketing",
                        des:"Giải pháp digital marketing chuyên nghiệp nhằm giúp khách hàng quảng bá dịch vụ và nâng tầm vị thế thương hiệu",
                     }
                  ]
               each solve in solves  
                  .col 
                     .home-solve-item
                        .inners 
                           .icon 
                              +img(solve.icon)
                           .bot
                              h4.tt=solve.tt 
                              p.des=solve.des
                              +Btn("Liên hệ tư vấn","","trans")
                     


                           

                     
                     