extends layout/layout

block vars
	-title = 'Search thuê nhà'
	-bodyClass = 'page-search-res page-search page-result'

block container 
	+SearLayout("Sang nhượng Business tại North Carolina")
		.pro-list.row.grid
			- 
				var proArr = [
					{
						img: "pro-1.jpg",
						time: "2 ngày trước",
						type: "Tiệm nail",
						price: "$500,000",
						tag: "Thương lượng",
						note: [
							"6 tables",
							"6 chairs",
							"11,300 sqft"
						],
						rent: "$1,500",
						income: "$1,000,000",
						address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
					}
				]
			each item,index in Array(5)
				if(index == 2)
					.pro-item.col.col-6
						+proBannerSecond("pro-bner-muacuatiem.png")
				.pro-item.col.col-6
					+proItem(proArr[0])