extends layout/layout

block vars
    -title = ''
    -bodyClass = 'page-search'

block container 
   section.sec-sear 
      .sear
         .sear-wrap 
            .sear-head 
               .sear-form 
                  form(action="")
                     .b-form-gr
                        .form-list.row 
                           .col.col-4.form-ip 
                              .b-ip-search
                                 span.icon
                                    +img("icon-search.svg")
                                 input(type="search" placeholder="Marietta")
                           .col.col-3 
                              .b-ip-select
                                 select(name="").re-select-main
                                    option(value="") Việc nhà hàng
                                    option(value="") Nhà ở
                                    option(value="") Mua nhà
                                    option(value="") Mua cửa tiệm
                           .col.col-3 
                              .b-ip-select
                                 select(name="").re-select-main
                                    option(value="") Đăng tuần này
                                    option(value="") Đăng tháng này
                                    option(value="") 3 tuần trước
                                    option(value="") 1 tháng trước
                           .col.col-2.col-btn
                              +Btn("Tìm kiếm")