extends layout/layout

block vars
   -title = ''
   -bodyClass = 'page-home'

block container 
   section.sec-home-bn 
      .home-bn 
         .bg 
            +img("bn-home.jpg")
         .container 
            .homes-bn-ctn